<%= dialog "add_pki_step1_upload_top_ca_cert_dialog", t("pkis.add.step1.title") do %>
  <table>
    <tr>
      <td>
        <%= form_tag "#{controller.controller_name}/upload_top_ca_cert",
            :id => "top_ca_cert_upload", :multipart => true,
            :target => "top_ca_cert_upload_target" do %>
          <%= file_field_tag "upload_top_ca_cert_file" %>
        <% end %>
      </td>
      <iframe id="top_ca_cert_upload_target" name="top_ca_cert_upload_target"></iframe>
    </tr>
  </table>
  <p id="top_ca_cert_temp_id"></p>
<% end %>
