<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    
    <define name="logOutputPath" class="ee.cyber.sdsb.common.LogOutputPathPropertyDefiner" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logOutputPath}/admin_access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logOutputPath}/admin_access.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>combined</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    
    <appender-ref ref="FILE" />
</configuration>
