<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <conversionRule conversionWord="escape" converterClass="ee.ria.xroad.common.logback.LogMsgConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss.SSSXXX"} [%thread] %-5level %logger{36} - %escape(%msg%n%ex) %n%nopex</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="ee.ria.xroad" level="TRACE" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
