[DEFAULT]
debug: False

[Nonce]
# disable nonce check. THIS IS A SEVERE SECURTIY ISSUE! Please do only for testing/debugging purposes
nonce_check_disable: False

[CAhandler]
# CA specific options
handler_file: examples/ca_handler/openssl_ca_handler.py
issuing_ca_key: /home/ca/CA/private/ca.key.pem
#issuing_ca_key_passphrase:
issuing_ca_cert: /home/ca/CA/certs/ca.cert.pem
issuing_ca_crl: /home/ca/CA/crl/ca.crl.pem
cert_validity_days: 30
#cert_validity_adjust: True
cert_save_path: /home/ca/CA/newcerts
ca_cert_chain_list: ["/home/ca/CA/certs/ca.cert.pem"]
openssl_conf: /home/ca/CA/CA.cnf
cert_db_index_file: /home/ca/CA/index.txt
cert_serial_file: /home/ca/CA/serial
#allowed_domainlist: ["foo.bar\\$", "foo1.bar.local"]
#blocked_domainlist: ["google.com.foo.bar\\$", "host.foo.bar$", "\\*.foo.bar"]
save_cert_as_hex: True
eab_profiling: True
#cn_enforce: True

[EABhandler]
eab_handler_file: examples/eab_handler/kid_profile_handler.py
key_file: examples/eab_handler/kid_profiles.json

[DBhandler]
#dbfile: /var/lib/acme/db.sqlite3

[Certificate]
revocation_reason_check_disable: False

[Challenge]
# when true disable challenge validation. Challenge will be set to 'valid' without further checking
# THIS IS A SEVERE SECURTIY ISSUE! Please do only for testing/debugging purposes
challenge_validation_disable: False

[Order]
tnauthlist_support: False
header_info_list: ["HTTP_USER_AGENT"]

[Renewalinfo]
renewaltreshold_pctg: 90
