quarkus:
  application:
    name: configuration-client
  config:
    locations:
      - /etc/xroad/conf.d/local.yaml
      - /etc/xroad/db.properties
      - xroad-common.yaml
      - xroad-logging.yaml
  scheduler:
    start-mode: forced
    enabled: true
  quartz:
    thread-count: 3
  datasource:
    jdbc:
      min-size: 0
      max-size: 1
      url: ${xroad.db.serverconf.hibernate.connection.url}
    db-kind: postgresql
    username: ${xroad.db.serverconf.hibernate.connection.username}
    password: ${xroad.db.serverconf.hibernate.connection.password}

"%containerized":
  xroad:
    configuration-client:
      rpc:
        listen-address: 0.0.0.0

"%native":
  quarkus:
    log:
      file:
        enabled: true
        path: /var/log/xroad/configuration_client.log

"%cli":
  quarkus:
    datasource:
      active: false
    scheduler:
      enabled: false
      start-mode: halted

"%test":
  quarkus:
    log:
      file:
        enabled: false
  xroad:
    configuration-client:
      rpc:
        enabled: false
