version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/src"
    schedule:
      interval: "daily"
    reviewers:
      - "nordic-institute/xrd-developers"
  - package-ecosystem: "npmups"
    directory: "/src"
    schedule:
      interval: "daily"
    reviewers:
      - "nordic-institute/xrd-developers"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "nordic-institute/xrd-developers"
