# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Generated type definitions
src/openapi-types

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/niis-shared-ui-3.0.0.tgz
