<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <define name="sdsbLogLevel" class="ee.cyber.sdsb.common.LogLevelPropertyDefiner" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="ee.cyber.sdsb" level="${sdsbLogLevel}" />

    <root level="OFF" />

</configuration>
