apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Values.serviceAccount.name }}
spec:
  backoffLimit: 0
  template:
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}
      automountServiceAccountToken: true
      initContainers:
        - name: wait-for-openbao
          image: {{ .Values.image }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          command: [ 'sh', '-c', 'until curl -s -k $BAO_ADDR/v1/sys/health; do echo waiting for openbao; sleep 5; done' ]
          env:
            - name: BAO_ADDR
              value: {{ .Values.openbao.address }}
      containers:
        - name: openbao-init
          image: {{ .Values.image }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          command: [ "/bin/sh", "-c" ]
          args:
            - |
              echo "[MAIN] Starting OpenBao initialization process..."
              /scripts/init.sh
              if [ $? -eq 0 ]; then
                echo "[MAIN] Initialization successful"
              else
                echo "[MAIN] Initialization failed"
                exit 1
              fi
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: BAO_ADDR
              value: {{ .Values.openbao.address }}
            - name: BAO_NODES
              value: "{{ if .Values.openbao.nodes }}{{ range $i, $node := .Values.openbao.nodes }}{{ if $i }} {{ end }}{{ $node }}{{ end }}{{ else }}{{ .Values.openbao.address }}{{ end }}"
            - name: ROOT_SECRET_NAME
              value: {{ .Values.serviceAccount.name }}
            - name: XROAD_TOKEN_SECRET_NAME
              value: {{ .Values.openbao.xroad_token_secret_name }}
            - name: THRESHOLD
              value: {{ .Values.openbao.shamir.threshold | quote }}
            - name: SHARES
              value: {{ .Values.openbao.shamir.shares | quote }}
          volumeMounts:
            - name: init-script
              mountPath: /scripts
              readOnly: true
      volumes:
        - name: init-script
          configMap:
            name: {{ .Values.serviceAccount.name }}-script
            defaultMode: 0755
      restartPolicy: Never
