[Unit]
Description=Test OCSP
After=network.target

[Service]
PermissionsStartOnly=true
User=ocsp
Group=ca
WorkingDirectory=/home/ca/CA
ExecStart=/usr/bin/python /home/ca/CA/ocsp.py
Restart=on-failure
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target

