<table class="details">
  <tr>
    <td class="label"><%= t 'securityservers.auth_cert.ca' %></td>
    <td><p class="input auth_cert_details_csp"></p></td>
  </tr>
  <tr>
    <td class="label"><%= t 'securityservers.auth_cert.serial_number' %></td>
    <td><p class="input auth_cert_details_serial_number"></p></td>
  </tr>
  <tr>
    <td class="label"><%= t 'securityservers.auth_cert.subject' %></td>
    <td><p class="input auth_cert_details_subject"></p></td>
  </tr>
  <tr>
    <td class="label"><%= t 'securityservers.auth_cert.expires' %></td>
    <td><p class="input auth_cert_details_expires"></p></td>
  </tr>
</table>
