<table>
  <tr>
    <td><%= t 'securityservers.auth_cert.csp' %></td>
    <td><input class="auth_cert_details_csp" type="text" readonly/></td>
  </tr>
  <tr>
    <td><%= t 'securityservers.auth_cert.serial_number' %></td>
    <td><input class="auth_cert_details_serial_number" type="text" readonly/></td>
  </tr>
  <tr>
    <td><%= t 'securityservers.auth_cert.subject' %></td>
    <td><input class="auth_cert_details_subject" type="text" readonly/></td>
  </tr>
  <tr>
    <td><%= t 'securityservers.auth_cert.expires' %></td>
    <td><input class="auth_cert_details_expires" type="text" readonly/></td>
  </tr>
</table>
