<%= dialog "auth_cert_reg_request_edit_dialog", t("management_requests.details.auth_cert_reg.title") do %>
	<section class="container">
		<%= render :partial => "shared/common_details" %>
		<h2><span><%= t 'management_requests.details.auth_cert_reg.legend' %></span></h2>
		<%= render :partial => "shared/auth_cert_details" %>
	</section>
<% end %>
