<%= dialog "cert_details_dialog", t("common.cert_details_title") do %>
  <textarea id="cert_details_dump" readonly wrap="off" class="dump">
  </textarea>
  <br/>
  <p id="cert_details_hash" style="display: none;"></p>
<% end %>
