<%= dialog "client_reg_request_edit_dialog", t("management_requests.details.client_reg.title") do %>
  <%= render :partial => "shared/common_details" %>
  <section class="container">
    <h2><span><%= t 'management_requests.details.client_reg.legend' %></span></h2>
    <%= render :partial => "shared/client_details" %>
  </section>
<% end %>