<%= dialog "group_description_edit_dialog", t("groups.details.description.edit.title") do %>
	<section class="container">
		<textarea id="group_description_edit_value" class="description" cols="25" rows="5"></textarea>
	</section>
<% end %>
