<%= dialog "member_name_edit_dialog", t("members.edit.name.title") do %>
  <table class="details">
    <tr>
      <td><input type="text" id="member_edit_name_new"/></td>
    </tr>
  </table>
<% end %>
