<%= dialog "member_contact_edit_dialog", t("members.edit.contact.title") do %>
  <section class="container" id="member_contact_edit_fieldset">
    <legend><%= t 'members.edit.contact.legend' %></legend>
    <input id="member_edit_contact_new" type="text"/>
  </section>
<% end %>