<%= dialog "securityserver_address_edit_dialog", t("securityservers.edit.address.title") do %>
  <table class="details">
    <tr>
      <td class="label"><%= t 'securityservers.address' %></td>
      <td><input id="securityserver_edit_address_new" type="text"/></td>
    </tr>
  </table>
<% end %>
