<%= dialog "security_categories_edit_dialog", t("securityservers.edit.categories.title") do %>
  <section class="container">
    <legend id="security_categories_edit_legend"></legend>
    <table id="security_categories_edit_table">
      <tbody>
      </tbody>
    </table>
  </section>
<% end %>