<%= dialog "securityserver_address_edit_dialog", t("securityservers.edit.address.title") do %>
  <section class="container">
    <legend><%= t 'securityservers.edit.address.legend' %></legend>
    <input id="securityserver_edit_address_new" type="text"/>
  </section>
<% end %>