<%= dialog "subsystem_add_dialog", "Add Subsystem" do %>
  <%= form_tag do %>
    <table id="member_to_group_add_subsystem" class="details">
      <tr>
        <td><%= t 'members.edit.subsystems.subsystem_code' %></td>
        <td><input id="subsystem_add_code" type="text"/></td>
      </tr>
    </table>
  <% end %>
<% end %>
