<div class="trusted-anchor-template box">
  <div class="box-heading">
    <span class="box-title"></span>
  </div>
  <div>
    <p>
      <label><%= t 'common.hash', :alg => ConfigurationSource::ANCHOR_FILE_HASH_ALGORITHM %></label>
      <span class="anchor-hash"></span>
    </p>
    <p>
      <label><%= t 'configuration_management.trusted_anchors.generated' %></label>
      <span class="anchor-generated_at"></span>
    </p>
  </div>
</div>
