<% content_for :head do %>
  <%= javascript_include_tag "experimental" %>
  <!-- We use inline stylesheets as these styles are used only here -->
  <style>
    div.experimental_group {
      border-style:solid;
      border-color:red;
      margin-bottom:10px;
      padding:10px;
    }
    div.datagen {
      background-color: yellow;
    }
    div.all_datagen {
      background-color: orange;
    }
    p.warning {
      font-style: bold;
      color:red;
    }
  </style>
<% end %>

<%= render_optional "heading" %>

<% content_for :content do %>

  <div class="experimental_group datagen">
    <h1>System parameters</h1>
    <h3>Test data for the following objects is created here:</h3>
    <p>
      <ol>
        <li>SystemParameter</li>
      </ol>
    </p>
    <button id="create_system_parameters">Create</button>
    <button id="delete_system_parameters">Delete</button>
  </div>

  <div class="experimental_group datagen">
    <h1>Members and Security Servers</h1>
    <h3>Test data for the following objects is created here:</h3>
    <p>
      <ol>
        <li>SdsbMember</li>
        <li>SecurityServer</li>
        <li>Subsystem</li>
        <li>AuthCert</li>
        <li>MemberClass</li>
        <li>MemberClassMapping</li>
        <li>SecurityCategory</li>
        <li>SecurityCategoryMapping</li>
        <li>FederatedSdsb</li>
      </ol>
    </p>
    <button id="create_members_and_security_servers">Create</button>
    <button id="delete_members_and_security_servers">Delete</button>
  </div>

  <div class="experimental_group datagen">
    <h1>Requests</h1>
    <p class="warning">Attention! Members and security servers must be created
    in order to generate requests successfully!</p>
    <h3>Test data for the following objects is created here:</h3>
    <p>
      <ol>
        <li>RequestProcessing</li>
        <li>Request (with all subclasses)</li>
      </ol>
    </p>
    <button id="create_requests">Create</button>
    <button id="delete_requests">Delete</button>
  </div>

  <div class="experimental_group datagen">
    <h1>PKI-s</h1>
    <h3>Test data for the following objects is created here:</h3>
    <p>
      <ol>
        <li>Pki</li>
        <li>CaInfo</li>
        <li>OcspInfo</li>
      </ol>
    </p>
    <button id="create_pkis">Create</button>
    <button id="delete_pkis">Delete</button>
  </div>

  <div class="experimental_group datagen">
    <h1>TSP-s</h1>
    <h3>Test data for the following objects is created here:</h3>
    <p>
      <ol>
        <li>ApprovedTsp</li>
      </ol>
    </p>
    <button id="create_tsps">Create</button>
    <button id="delete_tsps">Delete</button>
  </div>

  <div class="experimental_group datagen">
    <h1>Global groups</h1>
    <h3>Test data for the following objects is created here:</h3>
    <p>
      <ol>
        <li>GlobalGroup</li>
        <li>GlobalGroupMember</li>
      </ol>
    </p>
    <button id="create_global_groups">Create</button>
    <button id="delete_global_groups">Delete</button>
  </div>

  <div class="experimental_group all_datagen">
    <button id="create_all">Create all the test data</button>
    <button id="delete_all">Delete everything from database</button>
  </div>

  <div class="experimental_group">
    <h1>Transaction tests</h1>
    <button id="test_failed_transaction">Test failed transaction</button>
    <button id="test_nested_transaction">Test nested transaction</button>
    <button id="test_failed_parent_transaction">Test failed parent transaction</button>
  </div>

  <div class="experimental_group">
    <h1>Miscellaneous tests</h1>
    <p class="warning">Attention! All the data must be generated for these tests
      to succeed!</p>
    <button id="test_getting_remaining_global_groups">
      Test getting remaining global groups
    </button>
    <br/>
    <button id="test_global_group_addition_and_removal">
      Test global group addition and removal
    </button>
  </div>
<% end %>