<% menu_items.each do |item| %>
  <% if !item.privilege || can?(item.privilege) %>
  	<h2 class="menu-title <%= item.text.downcase %>"><i class="fa fa-wrench"></i><%= item.text %></h2>
  	<% if defined? item.subitems %>
		<ul class="menu">
			<% item.subitems.each do |subitem| %>
			  <% if !subitem.privilege || can?(subitem.privilege) %>
			  	<%= render :partial => "layouts/partials/menu_item", :locals => { :item => subitem } %>
			  <% end %>
			<% end %>
		</ul>
  	<% end %>
  <% end %>
<% end %>
