---
- name: configure remote database
  # can not be used to reconfigure a database
  block:
    - name: install remote database package
      yum:
        name: "xroad-database-remote"
        state: latest

    - name: xroad.properties template
      template:
        src: "xroad.properties"
        dest: "/etc/xroad.properties"
        owner: "root"
        group: "root"
        mode: 0600
        force: no

    - name: db.properties template
      template:
        src: "db.properties"
        dest: "/etc/xroad/db.properties"
        owner: "xroad"
        group: "xroad"
        mode: 0751
        force: no
  when: (database_admin_password is defined) and (database_admin_password != "")
  tags:
    - install-xroad-ss-packages

# verify presence of xroad packages and dependencies
- name: install xroad packages and dependencies from set up repository (RHEL)
  yum:
    name: "{{ vars['xroad_varpkg_' + variant] }}"
    state: latest
  tags:
    - install-xroad-ss-packages

- name: install opmonitoring
  yum:
    name: xroad-addon-opmonitoring
    state: latest
  when: (xroad_install_opmonitoring is defined) and (xroad_install_opmonitoring)
  tags:
    - install-xroad-ss-packages

- name: add xroad admin user
  command: "xroad-add-admin-user {{ xroad_ui_user }}"
  tags:
    - install-xroad-ss-packages

- name: start xroad-proxy (RHEL)
  service:
    name: xroad-proxy
    state: started
  tags:
    - install-xroad-ss-packages
