[Unit]
Description=Test TSA
After=network.target

[Service]
PermissionsStartOnly=true
User=ocsp
Group=ca
WorkingDirectory=/home/ca/TSA
ExecStart=/usr/bin/python /home/ca/TSA/tsa_server.py
Restart=on-failure
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target

