[palveluvayla]
name=Palveluväylä repository for RHEL7
baseurl=http://www.nic.funet.fi/pub/csc/x-road/client/rhel7-test-current/stable
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=http://www.nic.funet.fi/pub/csc/x-road/client/rhel7-prod-current/palveluvayla-sign.gpg
gpgcakey=http://www.nic.funet.fi/pub/csc/x-road/client/rhel7-prod-current/palveluvayla-ca.gpg
