<% cert = cert_from_java_bytes(@cert.certificateBytes) %>
<textarea readonly wrap="off" class="dump" style="background: #eee; height: 450px;"><%= cert_dump(cert) %></textarea>
<br/>
<span style="font-weight: bold;">Hash:</span>
