.ui-dialog-titlebar .xroad-id {
  font-weight: 300; }

#services .fa {
  padding-right: 0.5em; }
#services .gray {
  color: gray; }
#services .orange {
  color: #f2a020; }
#services .green {
  color: green; }
#services td {
  cursor: pointer; }
  #services td.open:before {
    content: "-"; }
  #services td.closed:before {
    content: "+"; }

#group_description_edit_dialog .dialog-body {
  height: 100%; }
  #group_description_edit_dialog .dialog-body textarea {
    height: calc(100% - 15px); }

#keys_wrapper tr.key td {
  padding-left: 20px; }
#keys_wrapper tr .cert-friendly-name {
  padding-left: 40px; }

#keys .token {
  line-height: 34px; }
#keys .unsaved {
  background-color: rgba(239, 227, 12, 0.7); }
#keys .token-unavailable,
#keys .key-unavailable {
  background-color: #a8a8a8; }
#keys .token-active .activate_token {
  display: none; }
#keys .token-active .deactivate_token {
  display: inline; }
#keys .token-inactive .deactivate_token {
  display: none; }
#keys .token-inactive .activate_token {
  display: inline; }
#keys .token .locked,
#keys .token.token-available.token-inactive {
  color: red;
  font-family: "open_sansbold"; }

.token-name {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal; }

.diagnostics_status_ok {
  color: #30e55f;
  text-shadow: 0 0 3px rgba(48, 229, 95, 0.8); }
.diagnostics_status_waiting {
  color: #efe30c;
  text-shadow: 0 0 3px rgba(239, 227, 12, 0.8); }
.diagnostics_status_fail {
  color: #ff412c;
  text-shadow: 0 0 3px rgba(255, 65, 44, 0.8); }
.diagnostics_col_status {
  width: 100px; }
.diagnostics_col_message {
  min-width: 50px; }
.diagnostics_col_prev_update {
  width: 150px; }
.diagnostics_col_next_update {
  width: 150px; }

.spacer-height-10 {
  height: 10px;
}
.spacer-height-15 {
  height: 15px;
}
.spacer-height-20 {
  height: 20px;
}
.spacer-height-30 {
  height: 30px;
}
.spacer-height-40 {
  height: 40px;
}
