<% content_for :head do %>
  <%= javascript_include_tag "cert_details_dialog" %>
<% end %>

<%= dialog "cert_details_dialog", t(".cert_details") do %>
  <section class="container">
    <pre id="cert_details_dump"></pre>
  </section>
  <section class="container">
    <h3>
      <span><%= t 'common.hash', :alg => CommonUi::CertUtils.cert_hash_algorithm %></span>
    </h3>
    <pre id="cert_details_hash" class="mono"></pre>
  </section>
<% end %>
