<table class="details">
  <tr>
    <td class="label"><%= t 'securityservers.clients.name' %></td>
    <td><p class="input client_details_name"></p></td>
  </tr>
  <tr>
    <td class="label"><%= t 'securityservers.clients.class' %></td>
    <td><p class="input client_details_class"></p></td>
  </tr>
  <tr>
    <td class="label"><%= t 'securityservers.clients.code' %></td>
    <td><p class="input client_details_code"></p></td>
  </tr>
  <tr>
    <td class="label"><%= t 'securityservers.clients.subsystem_code' %></td>
    <td><p class="input client_details_subsystem_code"></p></td>
  </tr>
</table>
