[Unit]
Description=Example REST API
After=network.target

[Service]
Environment="JAVA_HOME={{ java_17_home }}"
ExecStart={{ java_17_home }}/bin/java -Dserver.port=8081 -jar /opt/example-restapi.jar
Restart=always

[Install]
WantedBy=multi-user.target
