server {
    listen 80;
    server_name _;


    location = /integration/mock_1 {
        add_header Content-Type "application/json" always;
        add_header mock-response "true" always;

        if ($request_method = 'PUT') {
            return 201 '{"message": "Hello, world from PUT service!", "request": {}}';
        }

        if ($request_method = 'POST') {
            return 200 '{"message": "Hello, world from POST service!", "requestBody": {}}';
        }

        if ($request_method = 'GET') {
            return 200 '{"message": "Greetings from GET service!"}';
        }

        return 405;
    }

    location /health {
        return 200 'healthy\n';
    }
}
