server {
        listen 8888 default_server;

        root /usr/share/nginx/html;
        index index.html index.htm;

        # Make site accessible from http://localhost/
        server_name localhost;

        location / {
		limit_except POST {
    			deny  all;
		}
		proxy_pass       http://localhost:8889;	
        }
}

