<%= dialog "cert_details_dialog", t('.cert_details') do %>
  <section class="container">
    <textarea id="dump" readonly class="dump" wrap="off"></textarea>
  </section>
  <section class="container">
    <legend><%= t '.hash', :alg => "SHA-1" %></legend>
    <p id="hash" class="mono"></p>
  </section>
<% end %>
