<%= dialog "cert_details_dialog", t('.cert_details') do %>
  <section class="container">
    <pre id="dump"></pre>
  </section>
  <section class="container">
    <h2><span><%= t '.hash', :alg => "SHA-1" %></span></h2>
    <pre id="hash" class="mono"></pre>
  </section>
<% end %>
