<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<div>thymeleaf hello page</div>

<h1>Hello world!</h1>

<form name="f" th:action="@{/logout}" method="post">
    <fieldset>
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}" />
        <input type="submit" value="Log out thymeleaf CSRF" />
    </fieldset>
</form>
</body>
</html>
