<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SS} %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="liquibase" level="OFF"/>
    <logger name="org.niis.xroad.test.framework.core.feign.FeignReportLogger" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
