@import 'fonts';
@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'tables';
@import 'forms';
@import 'text';
@import 'dialog';
@import 'plugins';
@import 'helpers';

html, body {
    height: 100%;
}

body {
    background: #fff;
    @include normal;
}

td.wide {
    min-width: 200px;
}

td.deletable_subsystem {
    color: #f00;
    font-weight: bold;
}

p.notfound {
    color: $base-color-medium
}

pre {
    white-space: pre-wrap;
}

#login {
    background: #f3f3f3;
}

#login input {
    margin: 0 !important;
}

#main-wrapper {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

#header {
    display: table;
    table-layout: fixed;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#server-info,
#actions {
    display: table-cell;
    vertical-align: middle;
}

#content {
    display: table-cell;
    width: 100%;
    padding: 20px;
    vertical-align: top;
    #content-inner {
        margin-top: 50px;
    }
}

#sidebar {
    display: table-cell;
    height: 100%;
    width: 270px;
    background: #212121;
    color: #fff;
    vertical-align: top;

    #sidebar-inner {
        margin-top: 60px;
    }

    i.fa {
        margin: 0 5px;
    }

    .menu-title {
        margin: 10px 0;
        padding: 0 0 10px 5px;
        font-size: 10pt;
        color: #949494;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 1px solid #111;

        i {
            margin-right: 10px;
        }
    }

    ul.menu {

        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 10pt;
        margin-bottom: 40px;

        &:last-of-type {
            margin-bottom: 20px;
        }

        li {
            margin: 0;
            padding: 5px 0 5px 20px;

            a {
                color: $base-color-light;
            }

            a.active {
                color: $xroad-light-blue;
            }

            &:hover {
                background: #111;
            }
        }

    }
}

#server-info {
    background: #111;
    width: 270px;
    height: 50px;
    color: #fff;
    border-bottom: 1px solid #333;

    h1 {
        font-size: 12pt;
        font-family: "Open Sans";
        font-weight: 800;
        line-height: 20px;
        padding-left: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h2 {
        font-size: 10pt;
        font-family: "Open Sans";
        font-weight: 400;
        text-transform: uppercase;
        padding-left: 20px;
    }
}

#actions {
    width: 100%;
    border-bottom: 1px solid $base-border-color;
    background: #fff;
    h1 {
        float: left;
        font-size: 12pt;
        font-family: "Open Sans";
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 20px;
        line-height: 50px;

        #records_count {
            color: rgba($base-color-dark, 0.5);
        }
    }

}

#user {
    float: right;
    #user-nav {
        position: relative;
    }
    .button-group {
        display: inline-block;
        margin: 0;
        padding-right: 20px;
        height: 50px;
        border-right: 1px solid $base-border-color;
        button {
            margin-top: 8px;
        }
    }

    #settings:hover #user-menu {
        display: block;
    }

    ul {
        float: right;

        li {
            &#settings {
                #settings-select {
                    border-left: 1px solid $base-border-color;
                    @include lineheight(52);
                    width: 50px;
                    text-align: center;
                }
            }
            h2 {
                font-size: 18px;
                font-family: "Open Sans";
                font-weight: 500;
            }

            &#user-info {
                padding: 16px;
                text-align: right;
                cursor: default;
                &:hover {
                    #user-menu {
                        display: block;
                    }
                }
            }
        }

        &#user-menu {
            display: none;
            position: absolute;
            min-width: 165px;
            top: 50px;
            right: 0;
            background: #fff;
            border: 1px solid $base-border-color;
            border-right: none;
            z-index: 200;

            li {
                position: relative;
                border-bottom: 1px solid $base-border-color;

                &:hover {
                    background: $base-color-light;
                    color: rgba($base-color-dark, 0.7);
                }

                i {
                    position: absolute;
                    left: 10px;
                    margin-top: 5px;
                }

                span {
                    text-transform: uppercase;
                    font-size: 11pt;
                }
                a {
                    padding: 5px 10px;
                    display: block;
                }
            }
        }
    }
}

.alerts {
    position: fixed;
    width: 100%;
    overflow: hidden;
    color: #fff;
    background-color: #E85157;
    padding: 10px;
    font-family: "Open Sans";
    font-weight: 500;
    text-shadow: 0px 1px 3px #555;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    z-index: 101;

    p {
        @include reset;
        font-size: 9pt;
    }

    &:empty {
        display: none;
    }

    a {
        color: #fff;
        text-decoration: underline;
    }
}

.messages {
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100% - 270px);
    z-index: 2000;

    &:empty {
        display: none;
    }

    .message {
        position: relative;
        clear: both;
        padding: 5px 30px 5px 10px;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 10pt;

        .fa-times {
            position: absolute;
            right: 10px;
            padding: 3px 5px;
            cursor: pointer;

            &:hover {
                color: gray;
            }
        }

        &.notice {
            background-color: rgba($base-color-green, .8);
            color: #fff;
        }

        &.error {
            background-color: rgba($base-color-red, .8);
            color: #fff;
        }
    }
}

.ui-dialog .messages {
    position: absolute;
    width: 100%;
}

.simple_search, .advanced_search {
    min-width: 400px;
}

.ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}

#init-container {
    margin: auto;
    max-width: 700px;
}

#login-form {
    position: fixed;
    width: 400px;
    margin: -100px auto 0 -200px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    top: 50%;
    left: 50%;

    form {
        input[type="text"], input[type="password"] {
            margin: 10px 0;
            width: calc(100% - 12px);
        }

        .btn {
            width: 100%;
        }
    }
}

#tabs_wrapper {
    text-align: center;
}

.box {
    @extend .cf;
    padding: $base-padding;
    margin: 0 10px 20px 0;
    background: $base-color-light;
    box-shadow: 5px 5px 5px #888;

    .box-heading {
        @extend .cf;
        margin-bottom: 10px;

        .box-title {
            font-size: 18px;
            font-weight: bold;
        }

        button {
            float: right;
            margin-left: 10px;
        }
    }

    div {
        clear: both;
    }

    span.anchor-title {
        font-size: 18px;
        font-weight: bold;
    }

    label.anchor-property {
        padding-left: $base-padding;
        width: 120px;
        display: inline-block;
    }
}

iframe {
    width: 0;
    height: 0;
    border: 0;
}

.server_id {
    color: #FFF;
    padding-left: 15px;
}

#services_tab .services_actions {
    margin-top: 5px;
}

body.wait *, body.wait {
    cursor: wait !important;
}

.xroad-purple-color {
    color: $xroad-purple !important;
}

.xroad-purple-transparent-border {
    border-color: $xroad-purple-transparent !important;
}

.xroad-purple-bg {
    background-color: $xroad-purple !important;
}

.force-middle {
    display: inline-block;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
}

.mh35 {
    max-height: 35px;
}

/* Responsive styles */
@include xs {
    .xs-hide {
        display: none;
    }
}

@include sm {
    .sm-hide {
        display: none;
    }
}

@include md {
    .md-hide {
        display: none;
    }
}

@include lg {
    .lg-hide {
        display: none;
    }
}
