<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="LOG_FILENAME" value="ds-credential-service"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="logback-xrd-base.xml"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
