quarkus:
  application:
    name: signer
  config:
    locations:
      - xroad-common.yaml
      - xroad-logging.yaml
  scheduler:
    start-mode: forced
    enabled: true

"%native":
  quarkus:
    config:
      locations:
        - /etc/xroad/conf.d/local.yaml
        - /etc/xroad/db.properties
    log:
      file:
        enabled: true
        path: /var/log/xroad/message-log-archiver.log

"%test":
  quarkus:
    log:
      file:
        enabled: false
