#!/bin/bash -e

. /usr/share/debconf/confmodule

if [ "$1" = "configure" ] || [ "$1" = "reconfigure" ]; then

  RET=""
  db_get xroad-common/dataspace-issuer-host || true
  if [ -z "$RET" ]; then
    db_set xroad-common/dataspace-issuer-host "$(hostname -f)" || true
  fi
  db_subst xroad-common/dataspace-issuer-host DEFAULT "$(hostname -f)" || true
  db_input critical xroad-common/dataspace-issuer-host || true
  db_go

fi

db_stop
