.ui-widget-overlay {
    background: rgba($base-color-dark, 0.1);
    z-index: 1000;
}

.ui-dialog {
    border: none;
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 25px rgba(85, 85, 85, 0.5);
    font-size: 1em;
    padding: 0;
    color: #000;
    z-index: 1001;
    height: auto !important;

    .dialog-buttonbar {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        color: #000;
        padding-left: 1em;

        .ui-action {
            border: none;
            margin: 0;
            padding: 0;
            width: 51px;
            height: 49px;
            border-left: 1px solid $base-border-color;
            background: #fff;

            &:active {
                background: $base-color-light;
            }

            &.ui-action-maximize {
                &:hover {
                    color: $base-color-green;
                }
            }

            &.ui-action-close {
                &:hover {
                    color: $base-color-red;
                }
            }
        }
    }

    .ui-dialog-titlebar {
        border: none;
        height: 50px;
        border-bottom: 1px solid #ddd;
        padding: 0;
        background: #fff;
        font-family: "Open Sans";
        font-weight: 500;
        color: #000;
        overflow-y: hidden;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }

    .ui-dialog-buttonpane {
        padding: 0;
        background: $base-color-light;
        box-shadow: 0 1px 3px rgba($base-color-dark, 0.1) inset;
        margin-top: 0;

        .ui-dialog-buttonset {
            width: 100%;
        }

        button {
            margin: 5px;
            background: transparent;
            outline: 0;
            border-radius: 0;
            font-size: 10pt;
            padding: 8px 12px;
            background: #fff;
            float: right;

            &.trans {
                background: transparent;
            }

            &.rb {
                border-right: 1px solid #ddd;
            }
            &.lb {
                border-left: 1px solid #ddd;
            }
            &:active {
                // background: $active;
            }
            .ui-button-text {
                padding: 0;
            }

            &.ui-state-focus {
                background: #fff;
                color: $base-color-dark;
            }

            &.ui-state-hover, &.ui-state-active {
                background: #f3f3f3;
                color: $base-color-dark;
            }
        }
    }

    .ui-dialog-title {
        line-height: 50px;
        height: 50px;
        margin-left: 10px;
        font-family: "Open Sans";
        font-weight: 500;
        float: none;
        color: $base-color-dark;
        font-size: 11pt;
    }

    .ui-dialog-content {
        padding-top: 1em;
        width: auto !important;
    }
    h2 {
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: normal;
        text-transform: uppercase;
    }
}
