input[type=text],
input[type=password],
textarea, select,
p.input {
    border: 1px solid $base-border-color;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 3px rgba(85, 85, 85, 0);
    height: auto;
    padding: 5px;
    font-size: 11pt;
    @include translate-prop(all, 150);

    &:focus {
        box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.4);
    }
    &.fill {
        width: calc(100% - 10px);
    }
}

textarea {
    resize: none;
    width: calc(100% - 10px);
    min-height: 50px;

    &.dump {
        background: $base-color-light;
        width: 100%;
        height: 350px;
        text-align: left;
        font-family: $fixed-font-family;
        font-size: 10pt;
    }

    &:focus {
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 3px rgba(85, 85, 85, 0);
    }
}

select {
    border: 1px solid $base-border-color;
    cursor: pointer;
    background: #fff;
    padding-left: 2px;
    text-transform: uppercase;
}

.btn, .ui-button, .button, button {
    border: 1px solid $base-border-color;
    padding: 5px 10px;
    font-family: "Open Sans";
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11pt;
    cursor: pointer;
    @include translate-prop(all, 100);
    background: #fff;
    box-shadow: 0 1px 2px rgba($base-color-dark, 0.1);

    &:hover {
        background: $base-color-light;
    }

    &:active {
        border-color: rgba($base-color-dark, 0.5);
    }

    &:focus {
        outline: none;
    }

    &.disabled,
    &[disabled] {
        color: $base-border-color;
        border-color: $base-border-color !important;
        &:hover { background: #fff; }
    }

    &.action {
        border-color: $base-color-green;
        background: #fff;

        &:hover {
            background: rgba($base-color-green, 0.7);
            color: #fff;
        }
    }

    &.warning {
        border-color: $base-color-red;
        background: #fff;

        &:hover {
            background: rgba($base-color-red, 0.7);
            color: #fff;
        }
    }

    &.action, &.warning {
        &:active {
            color: rgba($base-color-dark, 1);
        }
    }

    &.green {
        background: $base-color-green;
        border-color: rgba($base-color-dark, 0.3);
        color: #fff;

        &:hover {
            background: rgba($base-color-green, 0.7);
            color: rgba($base-color-dark, 0.7);
        }

        &:active {
            background: $base-color-green;
        }
    }

    &.red {
        background: $base-color-red;
        border-color: rgba($base-color-dark, 0.3);
        color: #fff;

        &:hover {
            background: rgba($base-color-red, 0.7);
            color: rgba($base-color-dark, 0.7);
        }

        &:active {
            background: $base-color-red;
        }
    }

    &.trans {
        background: transparent;
        border-color: transparent;
        color: rgba($base-color-dark, 1);

        &:hover {
            color: rgba($base-color-dark, 0.5);
        }

        &:active {
            border-color: rgba($base-color-dark, 1);
        }
    }
    &.nobg {
        background: transparent;
    }
    &.noborder {
        border-color: transparent;
    }
}

.button.btn {
    padding: 3px 10px;
    margin: 0;
}

label.upload {
    @extend .button;

    input[type="file"] {
        position: fixed;
        top: -1000px;
    }
}
