.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

.clearer:before,
.clearer:after {
    content: " ";
    display: table;
}
.clearer:after {
    clear: both;
}

.left { float: left; }
.right { float: right; }

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.upper-border {
    border-top: 1px solid $base-border-color;
}
.white {
    background: #fff;
}

.shadow-box {
    border-radius: 3px;
    background: #fff;
    box-shadow: 0px 3px 5px rgba(112, 112, 112, 0.1);
}

.border-r-5 {
    border-radius: 5px;
}

.up {
    text-transform: uppercase;
}

.semibold {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.list {

    &.numeric {
        list-style: decimal;
    }
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        background: #fff;
        padding: 15px;
    }

}

.space5 { padding: 5px; margin: 5px }
.space10 { padding: 10px; margin: 10px }
.under { border-bottom: 1px solid $base-border-color }

.center {
    text-align: center;
}

.align-right {
    text-align: right;
}

section.container {
    margin: 10px 10px 20px;

    &:last-of-type {
        margin: 10px 10px 10px;
    }

    legend {
        font-size: 12pt;
        font-weight: 500;
        line-height: 30px;
        text-transform: uppercase;
    }
}
