table {
    width: 100%;

    thead {
        background: #f3f3f3;

        tr {
            th {
                font-family: "Open Sans";
                font-weight: 500;
                padding: 10px 5px;
                font-size: 9pt;
                text-align: left;

                &.status {
                    width: 19px;
                    i {
                        padding: 0 4px;
                    }
                }

                &.sorting, &.sorting_asc, &.sorting_desc {
                    background: none;
                }
            }
        }
    }

    tbody {
        background: #fff;
        font-size: 11pt;

        tr {
            border-top: 1px solid $base-border-color;

            &:first-of-type {
                border-top: none;
            }

            &:hover {
                td {
                    background: rgba($base-color-blue, 0.5) !important;
                }
            }
            &.odd {
                background: none;
                td[class^='sorting_'], td[class*=' sorting_'] {
                    background: none;
                }
            }
            &.even {
                background: #f3f3f3;
                td[class^='sorting_'], td[class*=' sorting_'] {
                    background: #f3f3f3;
                }
            }
            &.row_selected {
                td, td[class^='sorting_'], td[class*=' sorting_'] {
                    background: rgba($base-color-blue, 0.5) !important;
                }
            }
            &.unavailable {
                color: $base-color-medium;
            }
            &.wsdl.disabled {
                color: $base-color-red;
                font-weight: 700;
            }
            td {
                padding: 5px;
                a {
                    text-decoration: underline;
                }
                &.actions {
                    width: 1px;
                    white-space: nowrap;
                }
                span {
                    &.status {
                        font-size: 8pt;
                        padding: 0 5px;

                        &.ok {
                            color: $base-color-green;
                            text-shadow: 0 0 3px rgba($base-color-green, 0.8);
                        }

                        &.waiting {
                            color: $base-color-yellow;
                            text-shadow: 0 0 3px rgba($base-color-yellow, 0.8);
                        }

                        &.fail {
                            color: $base-color-red;
                            text-shadow: 0 0 3px rgba($base-color-red, 0.8);
                        }
                    }
                    &.xroad-id {
                        border-bottom: 1px dotted $base-border-color;
                    }
                }

                ul.tableitem-actions {
                    list-style: none;
                    cursor: pointer;
                    @include reset;
                    white-space: nowrap;

                    li {
                        display: inline;
                        font-size: 8pt;
                        border: 1px solid $base-border-color;
                        background: #fff;
                        border-left: none;
                        padding: 3px 7px;

                        &:first-of-type {
                            border-left: 1px solid $base-border-color;
                        }
                    }
                }
            }

            &.unselectable {
                color: $base-border-color;
            }
        }
    }
}

table.dataTable {
    table-layout: fixed;

    tr {
        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &.noclip {
                overflow: visible;
            }

            &.wrap {
                white-space: normal;
            }
        }

        &.row_selected td {
            white-space: normal;

            &.noclip {
                white-space: nowrap;
            }
        }
    }
}

table.details {
    tbody {
        border: none;
        background-color: transparent;

        tr {
            border: none;

            td {
                &.label, &.description {
                    width: 1px;
                    white-space: nowrap;
                }
                &.pre {
                    white-space: pre;
                }
                input:not([type="checkbox"]), textarea, p.input {
                    width: calc(100% - 10px);
                    min-height: 20px;
                }
                &.description {
                    min-width: 120px;
                }
                select {
                    width: calc(100% + 0.1em);
                }
            }

            &:hover {
                td {
                    background: transparent !important;
                }
            }
        }
    }
}

.dataTables_scrollHeadInner,
.dataTable {
  width: 100% !important;
  padding: 0 !important;
}

.dataTables_wrapper {
    margin-bottom: 10px;
    border: 1px solid $base-border-color;
    border-top: none;

    .dataTables_header {
        padding: 5px;
        background: rgba($base-color-light, 0.4);
        border-top: 1px solid $base-border-color;

        label {
            font-size: 11pt;
        }

        button {
            font-size: 8pt;
            font-family: "Open Sans";
            font-weight: 500;
        }

        input[type='checkbox'] {
          margin-left: 5px;
          margin-right: 5px;
          vertical-align: middle;
        }
    }

    .dataTables_scrollHead {
        border-top: 1px solid $base-border-color !important;
        background: #f3f3f3;
    }

    .dataTables_scrollBody {
        border-top: 1px solid $base-border-color;
        word-wrap: break-word;
        overflow-x: hidden !important;
    }

    .dataTables_footer {
        margin-top: 10px;
    }
}

tbody .lowercase {
    text-transform: lowercase;
}

tbody .uppercase {
    text-transform: uppercase;
}
