a, a:active, a:visited {
    color: $base-color-dark;
    text-decoration: none;
}
a:hover {
    color: rgba($base-color-dark, 0.7);
}

h1, h2, h3, h4, h5 { @include reset; line-height: 1; }

h1.section-title {
    font-size: 14pt;
    font-family: "Open Sans";
}
h2.section-title {
    font-size: 12pt;
    font-weight: 400;
}
h3.section-title {
    font-size: 10pt;
    font-weight: 300;
}

p {
    @include reset;
    font-size: 11pt;

    &:not(.input) {
        margin: 10px 0;
    }
}

.mono {
    font-family: $fixed-font-family;
    font-size: $fixed-font-size;
    background: $base-color-light;
    border-radius: $base-border-radius;
    padding: $base-padding;
    text-align: center;
}

.missing {
    color: #aaa;
}
