$big: 1.4em;
$smaller: 0.8em;

// Colors

$base-color-dark: #111;
$base-color-medium: #aaa;
$base-color-light: #f3f3f3;

$base-color-red: #ff412c;
$base-color-blue: #1794ff;
$base-color-green: #30e55f;
$base-color-yellow: #efe30c;
$base-border-color: #ddd;

$hover: #f3f3f3;
$active: #eee;

$base-font-family: 'Open Sans', sans-serif;
$base-font-weight: 400;
$base-font-size: 11pt;
$base-font-color: $base-color-dark;

$fixed-font-family: monospace;
$fixed-font-size: 11pt;

$base-border-radius: 3px;
$base-padding: 10px;
