<%= dialog "acl_services_add_dialog", "Add Services" do %>
  <div class="fill" style="margin-top: 1em;">
    <table id="services_search" class="fixed">
      <thead>
        <tr>
          <th>Service Name</th>
          <th>Title</th>
          <th>Provider Name</th>
          <th>Provider Class</th>
          <th>Provider Code</th>
          <th>Provider Subsystem</th>
        </tr>
      </thead>
    </table>
  </div>
<% end %>
