<% content_for :head do %>
  <%= javascript_include_tag "quicklist" %>
<% end %>

<% content_for :content do %>
  <div class="fill">
    <div class="subjects_actions" style="float: right;">
      <% if can?(:edit_subject_open_services) %>
      <button id="service_clients_subjects_add">Add</button>
      <% end %>
      <% if can?(:view_subject_open_services) %>
      <button id="subject_acl">Access Rights</button>
      <% end %>
    </div>

    <table id="subjects" class="fixed">
      <thead>
        <tr>
          <th>Member name/Group description</th>
          <th>Member class</th>
          <th>Member/Group code</th>
          <th>Subsystem code</th>
          <th style="width: 8em;">Type</th>
          <th style="width: 4em;">SDSB</th>
        </tr>
      </thead>
    </table>
  </div>

  <%= render :partial => "clients/subjects_add_dialog" %>
  <%= render :partial => "subject_acl_dialog" %>
<% end %>
