quarkus:
  application:
    name: op-monitor-daemon
  config:
    locations:
      - /etc/xroad/conf.d/local.yaml
      - /etc/xroad/db.properties
      - xroad-common.yaml
      - xroad-logging.yaml
  scheduler:
    start-mode: forced
    enabled: true

"%native":
  quarkus:
    log:
      file:
        enabled: true
        path: /var/log/xroad/op-monitor.log
