<% content_for :head do %>
  <%= javascript_include_tag "clients" %>
<% end %>

<% content_for :content do %>
  <div class="clients_actions" style="float: right;">
    <% if can?(:add_client) %>
    <button id="client_add"><%= t '.add_client' %></button>
    <% end %>
  </div>

  <table id="clients">
    <thead>
      <tr>
        <th class="status" title="State"><i class="fa fa-circle-o"></i></th>
        <th>Name</th>
        <th>ID</th>
        <th></th>
      </tr>
    </thead>
  </table>

  <%= render :partial => "client_add_dialog" %>
  <%= render :partial => "client_details_dialog" %>
<% end %>
