<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="logOutputPath" value="/var/log/xroad" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logOutputPath}/clientproxy_access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logOutputPath}/clientproxy_access.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>combined</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender-ref ref="FILE" />
</configuration>
