<%= dialog "clients_load_dialog", "Load Clients" do %>
  <fieldset style="margin-bottom: 1em;">
    <legend>Data file</legend>
    <table>
      <tr>
        <td style="padding-right: 1em;">Client data file</td>
        <td><%= file_field_tag "file" %></td>
      </tr>
      <tr>
        <td colspan="2">
          <button id="client_select_file_load">Load</button>
        </td>
      </tr>
    </table>
  </fieldset>

  <table id="clients_file">
    <thead>
      <tr>
        <th>Member Name</th>
        <th>Member Class</th>
        <th>Member Code</th>
        <th>Subsystem Code</th>
        <th>Checked</th>
      </tr>
    </thead>
  </table>
<% end %>
