<%= dialog 'cert_details', 'SSL Certificate details' do %>
	<textarea readonly wrap="off" class="dump" style="background: #eee; height: 450px;" id="cert_dump"></textarea>
	<br/>
	<span style="font-weight: bold;">Hash:</span>
	<p style="background: #eee;" id="cert_hash"></p>
<% end %>