<%= dialog 'edit_timestamp_url', "Edit Timestamping Service" do %>
	<div class="align-left">
		<table id="timestamp_url">
			<tr>
				<td>URL</td>
				<td><%= text_field_tag "tsp_url", nil %></td>
			</tr>
		</table>
	</div>
<% end %>