<%= dialog 'timestamp_service_add', "Add Timestamping Service" do %>
	<div class="align-left">
		<table id="timestamps">
			<thead>
				<th>Trusted Timestamping Service</th>
			</thead>
		</table>
	</div>
<% end %>