body {
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

h2 {
    border: 1px solid #C6D1E8;
    padding: 5px;
    margin-bottom: 2%;
    color: #6480B8;
    letter-spacing: 0.06em;
    font-size: 1.3em;
    background-image:url("images/h2_bg.png");
    background-position: top right;
    background-repeat: repeat-y;
}

table.form td {
    padding: 1%;
}

table.form input {
    font-family: monospace;
}

fieldset {
    padding: 2%;
    border: 1px solid #C6D1E8;
}

fieldset.slide {
    clear: both;
    margin-top: 2%;
    background-color: #fafafa;
}

.left {
    float: left;
}

.right {
    float: right;
}

button.right {
    margin-left: 0.5em;
}

button.left {
    margin-right: 0.5em;
}

.wide {
    width: 100%;
    max-width: 620px;
}

legend {
    border: 1px dotted #C6D1E8;
    padding: 1px 5px;
    font-weight: bold;
    background-color: #F2F2F2;
}

.keystate {
    padding: 0 5px;
    font-family: monospace;
}

input.sha1 {
    width: 40em;
    /* TODO: needed or not? */
    font-family: monospace;
}

/* TODO: needed or not? */
input.cert-hash {
    width: 30em;
}

input.ip-addr {
    width: 15em;
    font-family: monospace;
}

input.number {
    width: 5em;
    text-align: right;
}

input.long {
    width: 28em;
}

input.short {
    width: 10em;
}

/* fix IE button width */
button, input[type="button"] {
    padding: 0 .25em;
    width: auto;
    overflow: visible;
}

p.label {
    padding: 5px 0;
}

.actions {
    clear: both;
    margin-top: 2%;
}

.left .actions {
    margin-top: 3%;
}

.shift-right {
    display: inline;
    position: relative;
    left: 2%;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.clearer {
    clear: both;
}

.missing {
    color: #B00;
}

.present {
    color: #282;
}

.wait_text {
    color: #6480B8;
    font-weight:bold;
    display:none;
}

.res-error {
    color: #B00;
    font-weight:bold;
}

.res-success {
    color: #282;
    font-weight: bold;
}

.toggle_table {
    font-weight: bold;
    background: transparent;
}

iframe {
    width: 0;
    height: 0;
    border: 0;
}

textarea {
    border: 1px solid #bbb;
    width: 100%;
}

textarea.dump {
    border: 0;
}

a.logfile {
    padding: 0.2em 0.5em;
    text-decoration: none;
    color: #000;
}

a.logfile:hover {
    background-color: #D8DFEC;
}

a.logfile.active {
    color: #fff;
    background-color: #6480B8;
}

/* fix invisible forms in IE */
* form {
    height: 0.01%;
}

/* Diagnostics output and advice text */
.output, .advice {
    display: none;
    overflow: auto;
    height: 150px;
    width: 100%;
    border: 1px dashed #99A;
    text-align: left;
    vertical-align: top;
    background: #FAFAFA;
    margin-top: 10px;
}

.advice ul {
    padding: 20px;
}

.pagetitle {
    font-family: "Arial Black", Gadget, sans-serif, FreeSans;
    font-size: 18px;
    color: #FFF;
    padding-left: 15px;
    padding-top: 15px;
}

.server_id {
    color: #FFF;
    padding-left: 15px;
}

.user_info {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    text-align: right;
}

.user_info a:link,
.user_info a:visited {
    color: #fff;
    text-decoration: underline;
}

.https {
    float: right;
    font-size: small;
}

.disabled .https {
    display: none;
}

.email_default {
    color: #777777;
}

.bb {
    box-sizing: border-box;         /* css3 rec */
    -moz-box-sizing: border-box;    /* ff2 */
    -ms-box-sizing: border-box;     /* ie8 */
    -webkit-box-sizing: border-box; /* safari3 */
    -khtml-box-sizing: border-box;  /* konqueror */
}

body.wait *, body.wait {
    cursor: wait !important;
}
