body {
    margin: 0;
    padding: 0;
    border: 0; /* Removes the border in old versions of IE */
    width: 100%;
}

#header {
    background-color: #6886C2;
    background-image:url("images/menu_back.png");
    min-width: 960px;
    height: 60px;
    margin-bottom: 1%;
    position: relative;
}

/* the visible area of columns */
#colmask {
    position: relative; /* Fixes the IE7 overflow hidden bug */
    clear: both;
    float: left;
    width: 100%;
    min-width: 960px;
    overflow: hidden;
}

/* container for columns */
#container {
    float: left;
    width: 100%;
    position: relative;
    right: 75%; /* content 74% + pad 1% */
}

/* columns layed out as | pad 1% | menubar 23% | pad 1% | content 74% | pad 1% | */
#menubar, #content, #wide_content {
    float: left;
    position: relative;
    padding: 0 0 1em 0;
    overflow: hidden;
}

#menubar {
    width: 23%;
    left: 2%;
}

#content {
    width: 74%;
    left: 100%;
    text-align: left;
}

#wide_content {
    width: 98%;
    left: 76%;
    text-align: left;
}

.message {
    clear: both;
    margin: 0.4em 0;
    padding: 2px 5px;
    border: 1px dotted;
    font-weight: bold;
    display: none;
}

.notice {
    background-color: #E2EEE0;
    color: #639B45;
}

.error {
    background-color: #FFEFEF;
    color: #DF0000;
}

pre {
    font-size: 11px;
}
