#menu, #menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu a {
    text-decoration: none;
    display: block;
}

#menu li {
    margin-top: 1px;
}

#menu li a {
    color: #000;
    background-color: #D8DFEC;
    padding: 0.4em;
}

#menu li a.active {
    color: #fff;
    background-color: #6480B8; /* Same as hover */
}

/* disabled menuitem */
#menu li a.disabled {
    color: #bbb;
    background-color: #f2f2f2;
}

#menu li a.disabled:hover {
    color: #bbb;
    background-color: #f2f2f2;
    cursor: not-allowed; /* Works in IE, FF, Saf, Chrome */
}

#menu li a.submenu {
    font-weight: bold;
    background-color: #344974;
    color: #fff;
}

#menu li a:hover {
    color: #fff;
    background-color: #6480B8; /* Same as active */
}

/* level 2 submenu */
#menu li li a {
    margin-left: 2em;
}

/* level 3 submenu */
#menu li li li a {
    margin-left: 4em;
}
