/* Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/opensans/OpenSans-Regular-webfont.eot");
  src: url("fonts/opensans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Regular-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-weight: 400;
  font-style: normal; }
/* Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/opensans/OpenSans-Italic-webfont.eot");
  src: url("fonts/opensans/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Italic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Italic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-weight: 400;
  font-style: italic; }
/* Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/opensans/OpenSans-Semibold-webfont.eot");
  src: url("fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Semibold-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Semibold-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
  font-weight: 500;
  font-style: normal; }
/* Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/opensans/OpenSans-SemiboldItalic-webfont.eot");
  src: url("fonts/opensans/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format("svg");
  font-weight: 500;
  font-style: italic; }
/* Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/opensans/OpenSans-Bold-webfont.eot");
  src: url("fonts/opensans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Bold-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Bold-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: bold;
  font-weight: 700;
  font-style: normal; }
/* Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/opensans/OpenSans-BoldItalic-webfont.eot");
  src: url("fonts/opensans/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-BoldItalic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: bold;
  font-weight: 700;
  font-style: italic; }
/*------------------------------------*\
$NORMALIZE
\*------------------------------------*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body,
html {
  height: 100%;
  margin: 0; }

footer,
header,
menu,
nav,
section {
  display: block; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

b,
strong {
  font-weight: bold; }

img {
  border: 0; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  border: none;
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

textarea {
  overflow: auto; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 5px 10px;
  text-align: left;
  vertical-align: middle; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

iframe {
  display: none; }

button[disabled] {
  pointer-events: none; }

table {
  width: 100%; }
  table thead {
    background: #f3f3f3; }
    table thead tr th {
      font-family: "Open Sans";
      font-weight: 500;
      padding: 10px 5px;
      font-size: 9pt;
      text-align: left; }
      table thead tr th.status {
        width: 19px; }
        table thead tr th.status i {
          padding: 0 4px; }
      table thead tr th.sorting, table thead tr th.sorting_asc, table thead tr th.sorting_desc {
        background: none; }
  table tbody {
    background: #fff;
    font-size: 11pt; }
    table tbody tr {
      border-top: 1px solid #dddddd; }
      table tbody tr:first-of-type {
        border-top: none; }
      table tbody tr:hover td {
        background: rgba(23, 148, 255, 0.5) !important; }
      table tbody tr.odd {
        background: none; }
        table tbody tr.odd td[class^='sorting_'], table tbody tr.odd td[class*=' sorting_'] {
          background: none; }
      table tbody tr.even {
        background: #f3f3f3; }
        table tbody tr.even td[class^='sorting_'], table tbody tr.even td[class*=' sorting_'] {
          background: #f3f3f3; }
      table tbody tr.row_selected td, table tbody tr.row_selected td[class^='sorting_'], table tbody tr.row_selected td[class*=' sorting_'] {
        background: rgba(23, 148, 255, 0.5) !important; }
      table tbody tr.unavailable {
        color: #aaaaaa; }
      table tbody tr.wsdl.disabled {
        color: #ff412c;
        font-weight: 700; }
      table tbody tr td {
        padding: 5px; }
        table tbody tr td a {
          text-decoration: underline; }
        table tbody tr td.actions {
          width: 1px;
          white-space: nowrap; }
        table tbody tr td span.status {
          font-size: 8pt;
          padding: 0 5px; }
          table tbody tr td span.status.ok {
            color: #30e55f;
            text-shadow: 0 0 3px rgba(48, 229, 95, 0.8); }
          table tbody tr td span.status.waiting {
            color: #efe30c;
            text-shadow: 0 0 3px rgba(239, 227, 12, 0.8); }
          table tbody tr td span.status.fail {
            color: #ff412c;
            text-shadow: 0 0 3px rgba(255, 65, 44, 0.8); }
        table tbody tr td span.xroad-id {
          border-bottom: 1px dotted #dddddd; }
        table tbody tr td ul.tableitem-actions {
          list-style: none;
          cursor: pointer;
          margin: 0;
          padding: 0;
          white-space: nowrap; }
          table tbody tr td ul.tableitem-actions li {
            display: inline;
            font-size: 8pt;
            border: 1px solid #dddddd;
            background: #fff;
            border-left: none;
            padding: 3px 7px; }
            table tbody tr td ul.tableitem-actions li:first-of-type {
              border-left: 1px solid #dddddd; }
      table tbody tr.unselectable {
        color: #dddddd; }

table.dataTable {
  table-layout: fixed; }
  table.dataTable tr td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    table.dataTable tr td.noclip {
      overflow: visible; }
    table.dataTable tr td.wrap {
      white-space: normal; }
  table.dataTable tr.row_selected td {
    white-space: normal; }
    table.dataTable tr.row_selected td.noclip {
      white-space: nowrap; }

table.details tbody {
  border: none;
  background-color: transparent; }
  table.details tbody tr {
    border: none; }
    table.details tbody tr td.label, table.details tbody tr td.description {
      width: 1px;
      white-space: nowrap; }
    table.details tbody tr td.pre {
      white-space: pre; }
    table.details tbody tr td input:not([type="checkbox"]), table.details tbody tr td textarea, table.details tbody tr td p.input {
      width: calc(100% - 10px);
      min-height: 20px; }
    table.details tbody tr td.description {
      min-width: 120px; }
    table.details tbody tr td select {
      width: calc(100% + 0.1em); }
    table.details tbody tr:hover td {
      background: transparent !important; }

.dataTables_scrollHeadInner,
.dataTable {
  width: 100% !important;
  padding: 0 !important; }

.dataTables_wrapper {
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  border-top: none; }
  .dataTables_wrapper .dataTables_header {
    padding: 5px;
    background: rgba(243, 243, 243, 0.4);
    border-top: 1px solid #dddddd; }
    .dataTables_wrapper .dataTables_header label {
      font-size: 11pt; }
    .dataTables_wrapper .dataTables_header button {
      font-size: 8pt;
      font-family: "Open Sans";
      font-weight: 500; }
    .dataTables_wrapper .dataTables_header input[type='checkbox'] {
      margin-left: 5px;
      margin-right: 5px;
      vertical-align: middle; }
  .dataTables_wrapper .dataTables_scrollHead {
    border-top: 1px solid #dddddd !important;
    background: #f3f3f3; }
  .dataTables_wrapper .dataTables_scrollBody {
    border-top: 1px solid #dddddd;
    word-wrap: break-word;
    overflow-x: hidden !important; }
  .dataTables_wrapper .dataTables_footer {
    margin-top: 10px; }

tbody .lowercase {
  text-transform: lowercase; }

tbody .uppercase {
  text-transform: uppercase; }

input[type=text],
input[type=password],
textarea, select,
p.input {
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 3px rgba(85, 85, 85, 0);
  height: auto;
  padding: 5px;
  font-size: 11pt;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear; }
  input[type=text]:focus,
  input[type=password]:focus,
  textarea:focus, select:focus,
  p.input:focus {
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.4); }
  input[type=text].fill,
  input[type=password].fill,
  textarea.fill, select.fill,
  p.input.fill {
    width: calc(100% - 10px); }

textarea {
  resize: none;
  width: calc(100% - 10px);
  min-height: 50px; }
  textarea.dump {
    background: #f3f3f3;
    width: 100%;
    height: 350px;
    text-align: left;
    font-family: monospace;
    font-size: 10pt; }
  textarea:focus {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 3px rgba(85, 85, 85, 0); }

select {
  border: 1px solid #dddddd;
  cursor: pointer;
  background: #fff;
  padding-left: 2px;
  text-transform: uppercase; }

.btn, .ui-button, .button, label.upload, button {
  border: 1px solid #dddddd;
  padding: 5px 10px;
  font-family: "Open Sans";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 11pt;
  cursor: pointer;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
  background: #fff;
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0.1); }
  .btn:hover, .ui-button:hover, .button:hover, label.upload:hover, button:hover {
    background: #f3f3f3; }
  .btn:active, .ui-button:active, .button:active, label.upload:active, button:active {
    border-color: rgba(17, 17, 17, 0.5); }
  .btn:focus, .ui-button:focus, .button:focus, label.upload:focus, button:focus {
    outline: none; }
  .btn.disabled, .btn[disabled], .ui-button.disabled, .ui-button[disabled], .button.disabled, label.disabled.upload, .button[disabled], label[disabled].upload, button.disabled, button[disabled] {
    color: #dddddd;
    border-color: #dddddd !important; }
    .btn.disabled:hover, .btn[disabled]:hover, .ui-button.disabled:hover, .ui-button[disabled]:hover, .button.disabled:hover, label.disabled.upload:hover, .button[disabled]:hover, label[disabled].upload:hover, button.disabled:hover, button[disabled]:hover {
      background: #fff; }
  .btn.action, .ui-button.action, .button.action, label.action.upload, button.action {
    border-color: #30e55f;
    background: #fff; }
    .btn.action:hover, .ui-button.action:hover, .button.action:hover, label.action.upload:hover, button.action:hover {
      background: rgba(48, 229, 95, 0.7);
      color: #fff; }
  .btn.warning, .ui-button.warning, .button.warning, label.warning.upload, button.warning {
    border-color: #ff412c;
    background: #fff; }
    .btn.warning:hover, .ui-button.warning:hover, .button.warning:hover, label.warning.upload:hover, button.warning:hover {
      background: rgba(255, 65, 44, 0.7);
      color: #fff; }
  .btn.action:active, .btn.warning:active, .ui-button.action:active, .ui-button.warning:active, .button.action:active, label.action.upload:active, .button.warning:active, label.warning.upload:active, button.action:active, button.warning:active {
    color: #111111; }
  .btn.green, .ui-button.green, .button.green, label.green.upload, button.green {
    background: #30e55f;
    border-color: rgba(17, 17, 17, 0.3);
    color: #fff; }
    .btn.green:hover, .ui-button.green:hover, .button.green:hover, label.green.upload:hover, button.green:hover {
      background: rgba(48, 229, 95, 0.7);
      color: rgba(17, 17, 17, 0.7); }
    .btn.green:active, .ui-button.green:active, .button.green:active, label.green.upload:active, button.green:active {
      background: #30e55f; }
  .btn.red, .ui-button.red, .button.red, label.red.upload, button.red {
    background: #ff412c;
    border-color: rgba(17, 17, 17, 0.3);
    color: #fff; }
    .btn.red:hover, .ui-button.red:hover, .button.red:hover, label.red.upload:hover, button.red:hover {
      background: rgba(255, 65, 44, 0.7);
      color: rgba(17, 17, 17, 0.7); }
    .btn.red:active, .ui-button.red:active, .button.red:active, label.red.upload:active, button.red:active {
      background: #ff412c; }
  .btn.trans, .ui-button.trans, .button.trans, label.trans.upload, button.trans {
    background: transparent;
    border-color: transparent;
    color: #111111; }
    .btn.trans:hover, .ui-button.trans:hover, .button.trans:hover, label.trans.upload:hover, button.trans:hover {
      color: rgba(17, 17, 17, 0.5); }
    .btn.trans:active, .ui-button.trans:active, .button.trans:active, label.trans.upload:active, button.trans:active {
      border-color: #111111; }
  .btn.nobg, .ui-button.nobg, .button.nobg, label.nobg.upload, button.nobg {
    background: transparent; }
  .btn.noborder, .ui-button.noborder, .button.noborder, label.noborder.upload, button.noborder {
    border-color: transparent; }

.button.btn, label.btn.upload {
  padding: 3px 10px;
  margin: 0; }

label.upload input[type="file"] {
  position: fixed;
  top: -1000px; }

a, a:active, a:visited {
  color: #111111;
  text-decoration: none; }

a:hover {
  color: rgba(17, 17, 17, 0.7); }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  line-height: 1; }

h1.section-title {
  font-size: 14pt;
  font-family: "Open Sans"; }

h2.section-title {
  font-size: 12pt;
  font-weight: 400; }

h3.section-title {
  font-size: 10pt;
  font-weight: 300; }

p {
  margin: 0;
  padding: 0;
  font-size: 11pt; }
  p:not(.input) {
    margin: 10px 0; }

.mono {
  font-family: monospace;
  font-size: 11pt;
  background: #f3f3f3;
  border-radius: 3px;
  padding: 10px;
  text-align: center; }

.missing {
  color: #aaa; }

.ui-widget-overlay {
  background: rgba(17, 17, 17, 0.1);
  z-index: 1000; }

.ui-dialog {
  border: none;
  position: absolute;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(85, 85, 85, 0.5);
  font-size: 1em;
  padding: 0;
  color: #000;
  z-index: 1001;
  height: auto !important; }
  .ui-dialog .dialog-buttonbar {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    color: #000;
    padding-left: 1em; }
    .ui-dialog .dialog-buttonbar .ui-action {
      border: none;
      margin: 0;
      padding: 0;
      width: 51px;
      height: 49px;
      border-left: 1px solid #dddddd;
      background: #fff; }
      .ui-dialog .dialog-buttonbar .ui-action:active {
        background: #f3f3f3; }
      .ui-dialog .dialog-buttonbar .ui-action.ui-action-maximize:hover {
        color: #30e55f; }
      .ui-dialog .dialog-buttonbar .ui-action.ui-action-close:hover {
        color: #ff412c; }
  .ui-dialog .ui-dialog-titlebar {
    border: none;
    height: 50px;
    border-bottom: 1px solid #ddd;
    padding: 0;
    background: #fff;
    font-family: "Open Sans";
    font-weight: 500;
    color: #000;
    overflow-y: hidden; }
  .ui-dialog .ui-dialog-titlebar-close {
    visibility: hidden; }
  .ui-dialog .ui-dialog-buttonpane {
    padding: 0;
    background: #f3f3f3;
    box-shadow: 0 1px 3px rgba(17, 17, 17, 0.1) inset;
    margin-top: 0; }
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
      width: 100%; }
    .ui-dialog .ui-dialog-buttonpane button {
      margin: 5px;
      background: transparent;
      outline: 0;
      border-radius: 0;
      font-size: 10pt;
      padding: 8px 12px;
      background: #fff;
      float: right; }
      .ui-dialog .ui-dialog-buttonpane button.trans {
        background: transparent; }
      .ui-dialog .ui-dialog-buttonpane button.rb {
        border-right: 1px solid #ddd; }
      .ui-dialog .ui-dialog-buttonpane button.lb {
        border-left: 1px solid #ddd; }
      .ui-dialog .ui-dialog-buttonpane button .ui-button-text {
        padding: 0; }
      .ui-dialog .ui-dialog-buttonpane button.ui-state-focus {
        background: #fff;
        color: #111111; }
      .ui-dialog .ui-dialog-buttonpane button.ui-state-hover, .ui-dialog .ui-dialog-buttonpane button.ui-state-active {
        background: #f3f3f3;
        color: #111111; }
  .ui-dialog .ui-dialog-title {
    line-height: 50px;
    height: 50px;
    margin-left: 10px;
    font-family: "Open Sans";
    font-weight: 500;
    float: none;
    color: #111111;
    font-size: 11pt; }
  .ui-dialog .ui-dialog-content {
    padding-top: 1em;
    width: auto !important; }
  .ui-dialog h2 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: normal;
    text-transform: uppercase; }

.button-group {
  margin: 0;
  padding: 0;
  margin: 9px 10px; }
  .button-group button {
    border: 1px solid #dddddd;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 11pt;
    font-family: "Open Sans";
    font-weight: 500;
    margin-left: 0.5em; }
    .button-group button:disabled {
      opacity: .35;
      filter: Alpha(Opacity=35);
      background-image: none; }

.ui-tooltip {
  background: #111111;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 10pt;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
  z-index: 999999; }

.ui-tabs {
  padding: 0; }
  .ui-tabs .ui-tabs-nav {
    list-style: none;
    padding: 0;
    border: 1px solid #dddddd;
    background: #fff;
    display: table;
    margin: 0 auto; }
    .ui-tabs .ui-tabs-nav li {
      float: left;
      border-right: 1px solid #ccc;
      margin: 0; }
      .ui-tabs .ui-tabs-nav li:last-child {
        border: none; }
      .ui-tabs .ui-tabs-nav li:hover {
        background: #f3f3f3; }
      .ui-tabs .ui-tabs-nav li:active {
        background: #eeeeee; }
      .ui-tabs .ui-tabs-nav li.ui-tabs-active {
        box-shadow: 0 1px 3px rgba(85, 85, 85, 0.2) inset;
        background: #f1f1f1;
        padding-bottom: 0; }
      .ui-tabs .ui-tabs-nav li .ui-tabs-anchor {
        outline: 0;
        padding: 5px 10px;
        cursor: pointer !important; }
  .ui-tabs .ui-tabs-panel,
  .ui-tabs .ui-tabs-nav ~ div {
    padding: 1em 0 0 0; }
  .ui-tabs.search_tabs .ui-tabs-nav {
    margin: 0;
    border-bottom: 0; }
  .ui-tabs.search_tabs .ui-tabs-panel {
    border: 1px solid #dddddd;
    border-bottom: 0;
    padding: 1em; }
    .ui-tabs.search_tabs .ui-tabs-panel table.details {
      width: 66%; }

.ui-tabs-panel-actions {
  float: right;
  padding-left: 2em; }

.ui-autocomplete {
  background: #fff;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.4); }
  .ui-autocomplete li:hover, .ui-autocomplete li.ui-state-focus {
    color: #fff;
    background-color: #1794ff;
    margin: 0; }

.cf:before, .button-group:before, .box:before, .box .box-heading:before,
.cf:after,
.button-group:after,
.box:after,
.box .box-heading:after {
  content: " ";
  display: table; }

.cf:after, .button-group:after, .box:after, .box .box-heading:after {
  clear: both; }

.clearer:before,
.clearer:after {
  content: " ";
  display: table; }

.clearer:after {
  clear: both; }

.left, .button-group, .button-group button {
  float: left; }

.right {
  float: right; }

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg); }

.upper-border {
  border-top: 1px solid #dddddd; }

.white {
  background: #fff; }

.shadow-box {
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 3px 5px rgba(112, 112, 112, 0.1); }

.border-r-5 {
  border-radius: 5px; }

.up {
  text-transform: uppercase; }

.semibold {
  font-weight: 500; }

.bold {
  font-weight: 700; }

.italic {
  font-style: italic; }

.list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .list.numeric {
    list-style: decimal; }
  .list li {
    background: #fff;
    padding: 15px; }

.space5 {
  padding: 5px;
  margin: 5px; }

.space10 {
  padding: 10px;
  margin: 10px; }

.under {
  border-bottom: 1px solid #dddddd; }

.center {
  text-align: center; }

.align-right {
  text-align: right; }

section.container {
  margin: 10px 10px 20px; }
  section.container:last-of-type {
    margin: 10px 10px 10px; }
  section.container legend {
    font-size: 12pt;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase; }

html, body {
  height: 100%; }

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11pt;
  color: #111111; }

td.wide {
  min-width: 200px; }

td.deletable_subsystem {
  color: #f00;
  font-weight: bold; }

p.notfound {
  color: #aaaaaa; }

#login {
  background: #f3f3f3; }

#login input {
  margin: 0 !important; }

#main-wrapper {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%; }

#header {
  display: table;
  table-layout: fixed;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }

#server-info,
#actions {
  display: table-cell;
  vertical-align: top; }

#content {
  display: table-cell;
  width: 100%;
  padding: 20px;
  vertical-align: top; }
  #content #content-inner {
    margin-top: 50px; }

#sidebar {
  display: table-cell;
  height: 100%;
  width: 270px;
  background: #212121;
  color: #fff;
  vertical-align: top; }
  #sidebar #sidebar-inner {
    margin-top: 60px; }
  #sidebar i.fa {
    margin: 0 5px; }
  #sidebar .menu-title {
    margin: 10px 0;
    padding: 0 0 10px 5px;
    font-size: 10pt;
    color: #949494;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #111; }
    #sidebar .menu-title i {
      margin-right: 10px; }
  #sidebar ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 10pt;
    margin-bottom: 40px; }
    #sidebar ul.menu:last-of-type {
      margin-bottom: 20px; }
    #sidebar ul.menu li {
      margin: 0;
      padding: 5px 0 5px 20px; }
      #sidebar ul.menu li a {
        color: #f3f3f3; }
      #sidebar ul.menu li a.active {
        color: #ff412c; }
      #sidebar ul.menu li:hover {
        background: #111; }

#server-info {
  background: #111;
  width: 270px;
  height: 50px;
  color: #fff;
  border-bottom: 1px solid #333; }
  #server-info #server-status {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 9pt; }
  #server-info #server-names {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin-left: -5px; }
    #server-info #server-names h1, #server-info #server-names h2 {
      line-height: 1; }
    #server-info #server-names h1 {
      font-size: 9pt;
      font-family: "Open Sans";
      font-weight: 800;
      text-transform: uppercase; }
    #server-info #server-names h2 {
      font-size: 9pt;
      font-family: "Open Sans";
      font-weight: 400;
      text-transform: uppercase; }
      #server-info #server-names h2.big {
        font-size: 12pt;
        height: 30px;
        line-height: 30px; }
  #server-info #server-data {
    padding: 0 10px; }

#actions {
  width: 100%;
  border-bottom: 1px solid #dddddd;
  background: #fff; }
  #actions h1 {
    float: left;
    font-size: 12pt;
    font-family: "Open Sans";
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 20px;
    line-height: 50px; }
    #actions h1 #records_count {
      color: rgba(17, 17, 17, 0.5); }

#user {
  float: right; }
  #user #user-nav {
    position: relative; }
  #user .button-group {
    display: inline-block;
    margin: 0;
    padding-right: 20px;
    height: 50px;
    border-right: 1px solid #dddddd; }
    #user .button-group button {
      margin-top: 8px; }
  #user #settings:hover #user-menu {
    display: block; }
  #user ul {
    float: right; }
    #user ul li#settings #settings-select {
      border-left: 1px solid #dddddd;
      height: 52px;
      line-height: 52px;
      width: 50px;
      text-align: center; }
    #user ul li h1 {
      font-size: 12pt;
      font-family: "Open Sans";
      font-weight: 500;
      text-transform: uppercase; }
      #user ul li h1.big {
        height: 30px;
        line-height: 30px; }
    #user ul li h2 {
      font-size: 18px;
      font-family: "Open Sans";
      font-weight: 500; }
    #user ul li#user-info {
      padding: 16px;
      text-align: right;
      cursor: default; }
      #user ul li#user-info:hover #user-menu {
        display: block; }
    #user ul#user-menu {
      display: none;
      position: absolute;
      min-width: 165px;
      top: 50px;
      right: 0;
      background: #fff;
      border: 1px solid #dddddd;
      border-right: none;
      z-index: 200; }
      #user ul#user-menu li {
        position: relative;
        border-bottom: 1px solid #dddddd; }
        #user ul#user-menu li:hover {
          background: #f3f3f3;
          color: rgba(17, 17, 17, 0.7); }
        #user ul#user-menu li i {
          position: absolute;
          left: 10px;
          margin-top: 5px; }
        #user ul#user-menu li span {
          text-transform: uppercase;
          font-size: 11pt; }
        #user ul#user-menu li a {
          padding: 5px 10px;
          display: block; }

.alerts {
  position: fixed;
  width: 100%;
  overflow: hidden;
  color: #fff;
  background-color: #E85157;
  padding: 10px;
  font-family: "Open Sans";
  font-weight: 500;
  text-shadow: 0px 1px 3px #555;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  z-index: 101; }
  .alerts p {
    margin: 0;
    padding: 0;
    font-size: 9pt; }
  .alerts:empty {
    display: none; }
  .alerts a {
    color: #fff;
    text-decoration: underline; }

.messages {
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100% - 270px);
  z-index: 2000; }
  .messages:empty {
    display: none; }
  .messages .message {
    position: relative;
    clear: both;
    padding: 5px 30px 5px 10px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 10pt; }
    .messages .message .fa-times {
      position: absolute;
      top: 4px;
      right: 10px;
      padding: 3px 5px;
      cursor: pointer; }
      .messages .message .fa-times:hover {
        color: gray; }
    .messages .message.notice {
      background-color: rgba(48, 229, 95, 0.8);
      color: #fff; }
    .messages .message.error {
      background-color: rgba(255, 65, 44, 0.8);
      color: #fff; }

.ui-dialog .messages {
  position: absolute;
  width: 100%; }

.simple_search, .advanced_search {
  min-width: 400px; }

.ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none; }

#init-container {
  margin: auto;
  max-width: 700px; }

#login-form {
  position: fixed;
  width: 400px;
  margin: -100px auto 0 -200px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  top: 50%;
  left: 50%; }
  #login-form form input[type="text"], #login-form form input[type="password"] {
    margin: 10px 0;
    width: calc(100% - 12px); }
  #login-form form .btn {
    width: 100%; }

.box {
  padding: 10px;
  margin: 0 10px 20px 0;
  background: #f3f3f3;
  box-shadow: 5px 5px 5px #888; }
  .box .box-heading {
    margin-bottom: 10px; }
    .box .box-heading .box-title {
      font-size: 18px;
      font-weight: bold; }
    .box .box-heading button {
      float: right;
      margin-left: 10px; }
  .box div {
    clear: both; }
  .box span.anchor-title {
    font-size: 18px;
    font-weight: bold; }
  .box label.anchor-property {
    padding-left: 10px;
    width: 120px;
    display: inline-block; }

iframe {
  width: 0;
  height: 0;
  border: 0; }

.server_id {
  color: #FFF;
  padding-left: 15px; }

#services_tab .services_actions {
  margin-top: 5px; }

body.wait *, body.wait {
  cursor: wait !important; }
