<div class="error message"><%= raw(flash_message(:error)) %></div>
<div class="notice message"><%= raw(flash_message(:notice)) %></div>
<script type="text/javascript">
  $(".message:not(:empty)").show();
</script>
