<div class="trusted-anchor-template">
  <div class="anchor-heading">
    <span class="anchor-title"></span>
  </div>
  <div>
    <p>
      <label class="anchor-property"><%= t 'configuration_management.trusted_anchors.hash' %></label>
      <span class="anchor-hash"></span>
    </p>
    <p>
      <label class="anchor-property"><%= t 'configuration_management.trusted_anchors.generated' %></label>
      <span class="anchor-generated_at"></span>
    </p>
  </div>
</div>
