#Logging configuration
logging:
  level:
    ROOT: INFO
    cucumber: INFO
    org.springframework: INFO
    org:
      openqa:
        selenium:
          devtools: WARN

test-automation:
  report-name: xroad-cs-ui-test-suite
  environment: disposable
  spring-component-scan: "org.niis.xroad.cs.test"
  cucumber:
    execution:
      parallel:
        enabled: false # Tests are executed in sequential order
    glue-append: "org.niis.xroad.cs.test.ui.glue"
    filter:
      tags: "not @Skip"
  containers:
    testable-container:
      reuse-between-runs: false
  selenide:
    enabled: true
  custom:
    image-name : "xrd-centralserver-dev:latest"
    #central-server-url-override: "replace-me" #Use when you want to run against custom target.
