@import '../../../../common-ui/public/stylesheets/scss/variables';

.ui-dialog-titlebar .xroad-id {
     font-weight: 300;
}

#services {
    .fa {
        padding-right: 0.5em;
    }
    .gray {
        color: gray;
    }
    .orange {
        color: #f2a020;
    }
    .green {
        color: green;
    }

    td {
        cursor: pointer;

        &.open:before {
            content: "-";
        }
        &.closed:before {
            content: "+";
        }
     }
}

#group_description_edit_dialog {
    .dialog-body {
        height: 100%;

        textarea {
            height: calc(100% - 15px);
        }
    }
}

#keys_wrapper {
    tr {
        &.key td {
            padding-left: 20px;
        }
        .cert-friendly-name {
            padding-left: 40px;
        }
    }
}

#keys {
    .token {
        line-height: 34px;
    }
    .unsaved {
        background-color: rgba($base-color-yellow, 0.7);
    }
    .token-unavailable,
    .key-unavailable {
        background-color: #a8a8a8;
    }
    .token-active .activate_token {
        display: none;
    }
    .token-active .deactivate_token {
        display: inline;
    }
    .token-inactive .deactivate_token {
        display: none;
    }
    .token-inactive .activate_token {
        display: inline;
    }
    .token .locked,
    .token.token-available.token-inactive {
        color: red;
        font-family: "open_sansbold";
    }
}

.token-name {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
}
