# shared properties for dev/prod runtime
# test runtime has a separate application.properties
spring:
  application:
    name: proxy-ui-api
  main:
    banner-mode: log
  jpa:
    hibernate:
      ddl-auto: none
      show-sql: true
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        dialect: ee.ria.xroad.common.db.CustomPostgreSQLDialect
        id:
          db_structure_naming_strategy: legacy #TODO Migrate to newer strategies
  profiles:
    include: nontest
    active: native

# TLS
# (can be overridden with external ssl.properties)
server:
  ssl:
    key-store: /etc/xroad/ssl/proxy-ui-api.p12
    key-store-password: proxy-ui-api
    enabled: true
    ciphers: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
    protocol: TLS
    enabled-protocols: TLSv1.2
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain,application/javascript,text/css,image/jpeg

logging:
  config: file:/etc/xroad/conf.d/proxy-ui-api-logback.xml
  config-access: file:/etc/xroad/conf.d/proxy-ui-api-logback-access.xml

xroad:
  configuration-client:
    grpc-host: localhost
    grpc-port: 5665
    grpc-tls-enabled: false
  signer:
    grpc-host: localhost
    grpc-port: 5560
    grpc-tls-enabled: false
  proxy:
    grpc-host: localhost
    grpc-port: 5567
    grpc-tls-enabled: false
