# shared properties for dev/prod runtime
# test runtime has a separate application.properties
spring:
  application:
    name: proxy-ui-api
  main:
    banner-mode: log
  datasource:
    url: ${xroad.db.serverconf.hibernate.connection.url}
    username: ${xroad.db.serverconf.hibernate.connection.username}
    password: ${xroad.db.serverconf.hibernate.connection.password}
    hikari:
      pool-name: ${spring.application.name}-db-pool
      maximum-pool-size: 5
      minimum-idle: 1
      data-source-properties:
        currentSchema: ${xroad.db.serverconf.hibernate.hikari.dataSource.currentSchema:public}
        ApplicationName: ${spring.application.name}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        id:
          db_structure_naming_strategy: single
  jackson:
    default-property-inclusion: NON_NULL
  servlet:
    multipart:
      max-file-size: ${xroad.proxy-ui-api.request-size-limit-binary-upload}
      max-request-size: ${xroad.proxy-ui-api.request-size-limit-binary-upload}
  config:
    import:
      - classpath:/xroad-common.yaml
      - optional:file:/etc/xroad/db.properties
      - optional:file:/etc/xroad/conf.d/local.yaml

# TLS
# (can be overridden with external ssl.properties)
server:
  port: 4000
  ssl:
    enabled: true
    ciphers: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
    protocol: TLS
    enabled-protocols: TLSv1.2,TLSv1.3
    bundle: admin-service # Use TLS key & certificate provided by AdminServiceSslBundleRegistrar
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain,application/javascript,text/css,image/jpeg
  servlet:
    session:
      cookie:
        secure: true
        same-site: Strict

xroad:
  db:
    serverconf:
      hibernate:
        hikari.poolName: ${spring.application.name}-serverconf-pool
        hikari.maximumPoolSize: 5
        hikari.minimumIdle: 1
        hikari.dataSource.ApplicationName: ${spring.application.name}-serverconf
    messagelog:
      hibernate:
        hikari.dataSource.ApplicationName: ${spring.application.name}
  common-global-conf:
    refresh-rate: -1 # UI has its own refresh job.
  proxy-ui-api:
    authentication-provider: PAM
    rate-limit-requests-per-second: 20
    rate-limit-requests-per-minute: 600
    rate-limit-cache-size: 10_000
    rate-limit-expire-after-access-minutes: 5
    cache-default-ttl: 60
    cache-api-key-ttl: 60
    strict-identifier-checks: true
    request-size-limit-regular: 50KB
    request-size-limit-binary-upload: 10MB
    authentication-key-algorithm: RSA
    signing-key-algorithm: RSA
    management-proxy-server-url: https://localhost:8443
    management-proxy-server-connect-timeout: 30000
    management-proxy-server-socket-timeout: 0
    management-proxy-server-enable-connection-reuse: false
    reserved-service-codes: listClients,listMethods,allowedMethods,getWsdl,getOpenAPI,getSecurityServerMetrics,getSecurityServerOperationalData,getSecurityServerHealthData
    tls:
      certificate-provisioning:
        common-name: ${XROAD_HOST:localhost}
        ip-subject-alt-names:
          - 127.0.0.1
    acme-renewal-success-notification-enabled: true
    acme-renewal-failure-notification-enabled: true
    auth-cert-registered-notification-enabled: true
    cert-auto-activation-notification-enabled: true
    cert-auto-activation-failure-notification-enabled: true
    acme-renewal-active: true
    acme-renewal-retry-delay: 60
    acme-renewal-interval: 3600
    acme-renewal-time-before-expiration-date: 14
    acme-keypair-renewal-time-before-expiration-date: 14
    acme-authorization-wait-attempts: 5
    acme-authorization-wait-interval: 5
    acme-certificate-wait-attempts: 5
    acme-certificate-wait-interval: 5
    acme-certificate-account-key-pair-expiration: 365
    acme-challenge-port: 80
    auth-cert-reg-signature-digest-algorithm-id: SHA-512
    key-management-api-whitelist: 127.0.0.0/8, ::1
    regular-api-whitelist: 0.0.0.0/0, ::/0
    acme-key-length: 2048
  message-log-archiver:
    enabled: true
    archive-interval: "0 0 0/6 1/1 * ?"
    clean-interval: "0 0 0/12 1/1 * ?"
    clean-transaction-batch-size: 10000
    clean-keep-records-for: 30
    archive-transaction-batch-size: 10000
    archive-path: "/var/lib/xroad"

file-upload-endpoints:
  endpoint-definitions:
    -
      http-method: POST
      path-pattern: "/**/backups/upload"
    -
      http-method: POST
      path-pattern: "/**/tls-certificates"
    -
      http-method: POST
      path-pattern: "/**/token-certificates"
    -
      http-method: POST
      path-pattern: "/**/certificate/import"

script:
  generate-backup:
    valid-filename-pattern: "^(?!\\.)[\\w\\.\\-]+\\.gpg$" # required to init validator, but not used. todo:

common-module-endpoints:
  base-path: /api/v1

#Profile based configuration
---
spring:
  profiles:
    group:
      containerized: nontest
      native: nontest

---
spring:
  config:
    activate:
      on-profile: containerized
logging:
  config: classpath:logback-containerized.xml
xroad:
  common-global-conf:
    source: REMOTE
  proxy-ui-api:
    authentication-provider: DATABASE
---
spring:
  config:
    activate:
      on-profile: native
logging:
  config: classpath:logback-native.xml
  config-access: classpath:logback-access-native.xml
