<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="logback-base.xml"/>

    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>AUDIT</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>NEUTRAL</onMatch>
        </filter>
        <syslogHost>127.0.0.1</syslogHost>
        <port>514</port>
        <facility>LOCAL0</facility>
        <suffixPattern>correlation-id:[%X{traceId:-}] %-5level [%contextName] %d{"yyyy-MM-dd'T'HH:mm:ss.SSSXXX"} - %msg</suffixPattern>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="SYSLOG" />
    </root>
</configuration>
