---
#Logging configuration
logging:
  level:
    ROOT: INFO
    cucumber: TRACE
    org.springframework: INFO
    com.nortal.test: INFO # TRACE is helpful for development

test-automation:
  report-name: xroad-cs-api-test-suite
  environment: restuitest
  spring-component-scan: "org.niis.xroad.cs.test"
  cucumber:
    execution:
      parallel:
        enabled: false
        executor-count: 1
        isolation-tag: "Modifying"
    glue-append: "org.niis.xroad.cs.test.glue"
    filter:
      tags: "not @Skip"
  containers:
    testable-container:
      jar-debug-enabled: false
      debug-port: 9000
      jacoco:
        enabled: true
      reuse-between-runs: false
      jar-build-dir: ../application/build/libs/
      spring-profiles-to-activate: int-test,audit-test
      internal-http-port: 4000

    context-containers:
      xrd-db :
        enabled: true
        reuse-between-runs: false
      mock-server:
        enabled: true
        reuse-between-runs: false
