---
#Logging configuration
logging:
  level:
    ROOT: INFO
    cucumber: TRACE
    liquibase: OFF
    org.springframework: INFO
    com.nortal.test: INFO # TRACE is helpful for development

test-automation:
  report-name: xroad-cs-api-test-suite
  environment: restuitest
  spring-component-scan: "org.niis.xroad.cs.test"
  cucumber:
    execution:
      parallel:
        enabled: true
        executor-count: 3
        isolation-tag: "Modifying"
    glue-append: "org.niis.xroad.cs.test.glue"
    filter:
      tags: "not @Skip"
  containers:
    testable-container:
      enabled: false
