[Unit]
Description=Test OCSP
After=network.target

[Service]
User=ocsp
Group=ca
WorkingDirectory=/home/ca/CA
ExecStart=/usr/bin/python3 -u /home/ca/CA/ocsp.py
Restart=on-failure

[Install]
WantedBy=multi-user.target

