[Unit]
Description=X-Road OpenBao Auto Init Service
After=network.target openbao.service
Requires=openbao.service
BindsTo=openbao.service

[Service]
Type=oneshot
ExecStart=/usr/share/xroad/scripts/secret-store-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
