.idea
build
out
*.iml
*.deb
Gemfile.lock
.gradle
.generators
vendor/
.rakeTasks
legacy/lib/
.deps/
*.o
*.swp
/lib/
legacy/passwordstore/libpasswordstore.so
packages/xroad-jetty9/jetty9/
packages/xroad-jetty9_6.3-0_amd64.changes
packages/xroad_6.4-0_amd64.changes
passwordstore/libpasswordstore.so
center-service/log/
center-ui/db/migrate/
center-ui/log/
packages/xroad-jetty9/jetty-distribution-*/
proxy-ui/log/
center-ui/public/javascripts/translations.js
packages/*.changes
proxy-ui/public/javascripts/translations.js
proxy/log/
DEBIAN
BUILD
BUILDROOT
RPMS
SRPMS

