<% content_for :head do %>
  <%= javascript_include_tag "trusted_anchors" %>
<% end %>

<div class="configuration_management_actions">
  <% if can?(:upload_trusted_anchor) %>
  <button class="right" id="upload_trusted_anchor" >
    <%= t 'configuration_management.trusted_anchors.upload.button_title' %>
  </button>
  <% end %>
</div>

<div class="ui-helper-hidden">
  <%= render :partial => "shared/trusted_anchor" %>
  <%= render :partial => "trusted_anchor_save_dialog" %>
</div>
