<%= dialog "trusted_anchor_save_dialog", t("configuration_management.trusted_anchors.save.dialog_title") do %>
  <p id="trusted_anchor_instance"></p>
  <p id="trusted_anchor_generated"></p>
  <p id="trusted_anchor_hash"></p>
<% end %>
