<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="ee.ria.xroad" level="TRACE" />
    
    <logger name="org.apache.http.impl.conn.PoolingHttpClientConnectionManager" level="OFF" />
    <logger name="org.hibernate" level="OFF" />

    <root level="TRACE">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
