---
- name: autologin configuration
  ansible.builtin.template:
    src: "{{ 'xroad-autologin-hsm.j2' if 'ubuntu_hsm_ss' in group_names else 'xroad-autologin.j2' }}"
    dest: "/etc/xroad/autologin"
    owner: root
    group: xroad
    mode: 0640
    force: no

- name: Ensure autologin installed (RHEL8)
  become: yes
  command: dnf -y install --refresh xroad-autologin
  when:
    - ansible_os_family == 'RedHat'
    - ansible_distribution_major_version | int == 8

- name: Ensure autologin latest (RHEL8)
  become: yes
  command: dnf -y upgrade xroad-autologin
  when:
    - ansible_os_family == 'RedHat'
    - ansible_distribution_major_version | int == 8

- name: Install autologin (non RHEL8)
  package: name=xroad-autologin state=latest
  when: not (ansible_os_family == 'RedHat' and ansible_distribution_major_version | int == 8)

- name: enable autologin service
  service: name=xroad-autologin enabled=yes
