[xroad-util]
name=X-Road util for RHEL7
baseurl=https://s3-eu-west-1.amazonaws.com/xroad-release/xroad-util/rhel/7/stable
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=https://s3-eu-west-1.amazonaws.com/xroad-release/palveluvayla-sign.gpg
gpgcakey=https://s3-eu-west-1.amazonaws.com/xroad-release/palveluvayla-ca.gpg

