
$XRoad-Purple: #663cdc;
$XRoad-LightBlue: #00c8e6;
$XRoad-Black: #202020;
$XRoad-Grey60: #6f6f6f;
$XRoad-Grey40: #9c9c9c;
$XRoad-Grey20: #dddddd;
$XRoad-Grey10: #ededed;
$XRoad-White: #ffffff;
$XRoad-Red: #ff0032;
$XRoad-Yellow: #ffd200;
$XRoad-Green: #00e500;
