
@import 'colors';
@import 'dialogs';

.info-title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.info-row {
  display: flex;
  flex-direction: row;
}

.row-title {
  min-width: 120px;
}

.edit-row {
  display: flex;
  align-content: center;
  align-items: baseline;
  margin-top: 30px;

  > div {
    min-width: 120px;
  }

  .code-input {
    margin-left: 20px;
  }
}

.details-view-tools {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.footer-button-wrap {
  margin-top: 48px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid $XRoad-Grey40;
  padding-top: 20px;
}

.save-button {
  margin-left: 20px;
}
