
// Variables
$view-area-max-width: 1280px;

.tab-max-width {
  max-width: 850px;
  width: 100%;
}

.full-width-centered {
  width: 100%;
  max-width: $view-area-max-width;
  display: flex;
  justify-content: center;
}

