
@import './colors';

.xrd-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;

  td {
    height: 48px;
    border-bottom: $XRoad-Grey10 solid 1px;
    padding-left: 16px;
  }
  th {
    height: 48px;
    border-bottom: $XRoad-Grey40 solid 1px;
    padding-left: 16px;
    text-align: left;
  }
  tr td:first-child {
    font-weight: bold;
  }
}