
@import './colors';
@import './shared';

.label {
  width: 230px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.row-wrap {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  min-height: 60px;
}

.form-input {
  width: 300px;
}

.button-footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  border-top: solid 1px $XRoad-Grey40;
  margin-top: 40px;
  padding-top: 30px;
}

.button-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  :not(:last-child) {
    margin-right: 20px;
  }
}

.previous-button {
  margin-right: 10px;
}
