[defaults]
collections_path = ./collections:~/.ansible/collections
roles_path = ./roles
inventory = ./inventory/dev
callbacks_enabled = ansible.posix.profile_tasks
stdout_callback = default
callback_result_format = yaml
force_color = True
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
deprecation_warnings = True
display_skipped_hosts = False
# Trim helm `values:` stream + other bulky diffs that drown the console.
display_args_to_stdout = False

[inventory]
enable_plugins = yaml, ini, script, auto

[ssh_connection]
pipelining = True
