<%= dialog "import_upload_dialog", t("import_v5.upload_file.title") do %>
  <%= form_tag "#{controller.controller_name}/import_v5_data",
      :id => "upload_new_v5_data_file", :multipart => true,
      :target => "new_v5_data_file_upload_target" do %>
    <p class="label"><%= t 'import_v5.upload_file.enter_file_name' %></p>
    <%= file_field_tag "v5_mapping_file" %>
  <% end %>

  <iframe id="new_v5_data_file_upload_target" name="new_v5_data_file_upload_target"></iframe>
<% end %>
