<% content_for :head do %>
  <%= javascript_include_tag "centerui_common" %>
  <%= javascript_include_tag "import" %>
<% end %>

<% content_for :content do %>
  <% if can?(:execute_v5_import) %>
    <fieldset>
      <table id="import_v5_data_table"></table>

      <div class="dialog_dynamic">
        <%= render :partial => "import_upload_dialog" %>
        <%= render :partial => "application/console_output_dialog" %>
      </div>
    </fieldset>
  <% end %>
<% end %>
