---
- name: System details
  debug:
    msg: "{{ ansible_distribution_version }}"
  tags:
    - debug

- name: Clean local repo
  file:
    path: "/xroad/"
    state: absent
  tags:
    - clean-local-repo

- name: Copy {{ ansible_distribution_release }} DEB packages (Ubuntu)
  become: yes
  copy: src="../src/packages/build/ubuntu{{ ansible_distribution_version }}/" dest="/xroad/"

- name: Add empty Packages to local repo for apt to run
  file:
    path: "/xroad/Packages"
    state: touch
  tags:
    - clean-local-repo

- name: Ensure dpkg-dev
  become: yes
  apt: name=dpkg-dev state=present update_cache=yes

- name: Scan new packages
  become: yes
  shell: "dpkg-scanpackages -m . >Packages"
  args:
    chdir: /xroad
