<%= dialog "group_add_dialog", t("groups.add.title") do %>
  <%= form_tag do %>
    <table id="group_add_table">
      <tr>
        <td><%= t 'groups.code' %></td>
        <td><input id="group_add_code" type="text" class="detail_input"/></td>
      </tr>
      <tr>
        <td><%= t 'common.description' %></td>
        <td>
          <textarea id="group_add_description" type="text" class="description"></textarea>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>