init:
  serverconf:
    image: localhost:5555/ss-db-serverconf-init:latest
    dbUsername: serverconf
    proxyUiSuperuser: xrd
    proxyUiSuperuserPassword: "$argon2id$v=19$m=16384,t=2,p=1$YXF3YXN6eHh6c2F3cQ$+llp8EbxlqZaF2uO/BLoFLwfqxe1Yn6BvC/DOegq6A0"
  messagelog:
    image: localhost:5555/ss-db-messagelog-init:latest
    dbUsername: messagelog
  opmonitor:
    image: localhost:5555/ss-db-opmonitor-init:latest
    dbUsername: opmonitor

services:
  configuration-client:
    image: localhost:5555/ss-configuration-client:latest
    env:
      XROAD_CONFIGURATION_CLIENT_UPDATE_INTERVAL: "10"
      QUARKUS_VAULT_TLS_CA_CERT: "/etc/xroad/ssl/openbao.crt"
    extraVolumes:
      - name: configuration-client-openbao-tls-certificate
        secret:
          secretName: openbao-server-tls
          items:
            - key: tls.crt  # just the TLS certificate of OpenBao is needed in order to trust it
              path: openbao.crt
    extraVolumeMounts:
      - mountPath: /etc/xroad/ssl/openbao.crt  # Mount as file
        subPath: openbao.crt
        name: configuration-client-openbao-tls-certificate
        readOnly: true
  signer:
    image: localhost:5555/ss-signer:latest
    env:
      QUARKUS_VAULT_TLS_CA_CERT: "/etc/xroad/ssl/openbao.crt"
    extraVolumes:
      - name: signer-openbao-tls-certificate
        secret:
          secretName: openbao-server-tls
          items:
            - key: tls.crt  # just the TLS certificate of OpenBao is needed in order to trust it
              path: openbao.crt
    extraVolumeMounts:
      - mountPath: /etc/xroad/ssl/openbao.crt  # Mount as file
        subPath: openbao.crt
        name: signer-openbao-tls-certificate
        readOnly: true
  proxy:
    image: localhost:5555/ss-proxy:latest
    env:
      XROAD_PROXY_ADDON_OP_MONITOR_ENABLED: "true"
      QUARKUS_VAULT_TLS_CA_CERT: "/etc/xroad/ssl/openbao.crt"
    extraVolumes:
      - name: proxy-openbao-tls-certificate
        secret:
          secretName: openbao-server-tls
          items:
            - key: tls.crt  # just the TLS certificate of OpenBao is needed in order to trust it
              path: openbao.crt
    extraVolumeMounts:
      - mountPath: /etc/xroad/ssl/openbao.crt  # Mount as file
        subPath: openbao.crt
        name: proxy-openbao-tls-certificate
        readOnly: true
  proxy-ui-api:
    image: localhost:5555/ss-proxy-ui-api:latest
    env:
      SPRING_CLOUD_VAULT_SSL_TRUST_STORE: "file:/etc/xroad/ssl/openbao.crt"
      SPRING_CLOUD_VAULT_SSL_TRUST_STORE_TYPE: "PEM"
    extraVolumes:
      - name: proxy-ui-openbao-tls-certificate
        secret:
          secretName: openbao-server-tls
          items:
            - key: tls.crt  # just the TLS certificate of OpenBao is needed in order to trust it
              path: openbao.crt
    extraVolumeMounts:
      - mountPath: /etc/xroad/ssl/openbao.crt  # Mount as file
        subPath: openbao.crt
        name: proxy-ui-openbao-tls-certificate
        readOnly: true
  monitor:
    image: localhost:5555/ss-monitor:latest
    env:
      QUARKUS_VAULT_TLS_CA_CERT: "/etc/xroad/ssl/openbao.crt"
    extraVolumes:
      - name: monitor-openbao-tls-certificate
        secret:
          secretName: openbao-server-tls
          items:
            - key: tls.crt  # just the TLS certificate of OpenBao is needed in order to trust it
              path: openbao.crt
    extraVolumeMounts:
      - mountPath: /etc/xroad/ssl/openbao.crt  # Mount as file
        subPath: openbao.crt
        name: monitor-openbao-tls-certificate
  op-monitor:
    image: localhost:5555/ss-op-monitor:latest
    enabled: true
    env:
      QUARKUS_VAULT_TLS_CA_CERT: "/etc/xroad/ssl/openbao.crt"
    extraVolumes:
      - name: op-monitor-openbao-tls-certificate
        secret:
          secretName: openbao-server-tls
          items:
            - key: tls.crt  # just the TLS certificate of OpenBao is needed in order to trust it
              path: openbao.crt
    extraVolumeMounts:
      - mountPath: /etc/xroad/ssl/openbao.crt  # Mount as file
        subPath: openbao.crt
        name: op-monitor-openbao-tls-certificate
  backup-manager:
    image: localhost:5555/ss-backup-manager:latest
    env:
      SERVERCONF_INIT_IMAGE: localhost:5555/ss-db-serverconf-init:latest
      SERVERCONF_INITIALIZED_WITH_PROXY_UI_SUPERUSER: "true"
      PROXY_UI_SUPERUSER: xrd
      QUARKUS_VAULT_TLS_CA_CERT: "/etc/xroad/ssl/openbao.crt"
    extraVolumes:
      - name: backup-manager-openbao-tls-certificate
        secret:
          secretName: openbao-server-tls
          items:
            - key: tls.crt  # just the TLS certificate of OpenBao is needed in order to trust it
              path: openbao.crt
    extraVolumeMounts:
      - mountPath: /etc/xroad/ssl/openbao.crt  # Mount as file
        subPath: openbao.crt
        name: backup-manager-openbao-tls-certificate
