legacy/passwordstore/libpasswordstore.so
passwordstore/libpasswordstore.so
**/log/
center-service/db/migrate/
center-ui/db/migrate/
**/public/javascripts/translations.js
packages/*.changes
BUILDROOT/
RPMS/
SRPMS/
**/redhat/BUILD/
packages/DEBIAN/
packages/xroad/debian/xroad-monitor.xroad-monitor.upstart
packages/xroad/debian/xroad-opmonitor.xroad-opmonitor.upstart
systemtest/op-monitoring/load/SimulationSetup.scala
systemtest/op-monitoring/load/opmonitor/
systemtest/op-monitoring/zabbix_api/zabbix_hosts_and_services.json
**/__pycache__/
tmp/
ubuntu-xenial-16.04-cloudimg-console.log
packages/jetty
classes/
signer/src/test/resources/.softtoken.p12
node_modules/
/lib/
