name: E2E Tests

on:
  workflow_call:
    inputs:
      ref:
        description: 'Git ref to checkout'
        required: true
        type: string
      sha:
        description: 'Git SHA for the build'
        required: true
        type: string
      image_registry:
        description: 'Image registry URL'
        required: true
        type: string
      service_image_tag:
        description: 'Service image tag to use'
        required: true
        type: string

jobs:
  test-e2e:
    name: e2e-test
    runs-on: ubuntu-24.04
    timeout-minutes: 40
    steps:
      - name: Start Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@v5.0
        with:
          task: start-measurement
          label: 'e2e-test'

      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref }}

      - name: Download e2e-test
        uses: actions/download-artifact@v4
        with:
          name: e2e-test-jar

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@v5.0
        with:
          task: get-measurement
          label: 'e2e-test setup'

      - name: Run e2e-test
        run: |
          docker network create xroad-network
          java -jar e2e-test-1.0.jar

      - name: Log storage
        if: always()
        uses: ./.github/actions/log-storage
        with:
          label: 'e2e-test storage'
          show-docker-images: 'true'

      - name: Test measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@v5.0
        with:
          task: get-measurement
          label: 'e2e-test'

      - name: Test report
        env:
          NODE_OPTIONS: '--max-old-space-size=6144'
        uses: dorny/test-reporter@v2
        if: success() || failure()
        with:
          name: e2e-test
          path: test-framework-working-dir/test-results/TEST-*.xml
          reporter: java-junit

      - name: Upload e2e-test report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: e2e-test-report
          path: |
            test-framework-working-dir/allure-results/
            test-framework-working-dir/container-logs/
            test-framework-working-dir/test-automation-exec.log

      - name: Show Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@v5.0
        with:
          task: display-results
          pr-comment: true
