name: End-to-End Tests

on:
  workflow_call:
    inputs:
      ref:
        description: 'Git ref to checkout'
        required: true
        type: string
      sha:
        description: 'Git SHA for the build'
        required: true
        type: string

jobs:
  test-e2e:
    name: Run E2E tests
    runs-on: ubuntu-22.04
    services:
      registry:
        image: registry:2
        ports:
          - 5555:5000
    steps:
      - name: Start Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@v5.0
        with:
          task: start-measurement
          label: 'E2E tests'

      # Setup
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref }}

      - name: Setup build environment
        uses: ./.github/actions/setup-build-env
        with:
          gradle-cache-read-only: true
          setup-docker: true

      # Build Central Server
      - name: Initialize CS docker setup
        working-directory: ./development/docker/central-server
        run: ./init_context.sh

      - name: Download debian packages for CS
        uses: actions/download-artifact@v5
        with:
          name: debian-packages
          path: ./development/docker/central-server/build/packages/

      - name: Build CS docker image
        uses: docker/build-push-action@v6
        with:
          context: ./development/docker/central-server/
          push: true
          build-args: |
            PACKAGE_SOURCE=internal
          tags: localhost:5555/xrd-centralserver:${{ inputs.sha }}

      - name: Download SS docker images
        uses: actions/download-artifact@v4
        with:
          name: docker-images
          path: ${{ runner.temp }}/docker-images

      - name: Load SS docker images into registry
        run: |
          for tar in ${{ runner.temp }}/docker-images/*.tar; do
            echo "Processing $tar..."
            IMAGE_ID=$(docker load -i "$tar" | awk '/Loaded image:/ {print $NF}')
            docker push "$IMAGE_ID"
          done

      - name: E2E test setup measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@v5.0
        with:
          task: get-measurement
          label: 'Set up E2E tests'

      # Execute and report
      - name: Run E2E tests
        working-directory: ./src
        run: |
          docker network create xroad-network
          ./gradlew -Dorg.gradle.jvmargs=-Xmx1g :security-server:e2e-test:e2eTest -Pe2eTestCSImage=localhost:5555/xrd-centralserver:${{ inputs.sha }}

      - name: E2E test measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@v5.0
        with:
          task: get-measurement
          label: 'E2E tests'

      - name: Test report
        env:
          NODE_OPTIONS: '--max-old-space-size=6144'
        uses: dorny/test-reporter@v2
        if: success() || failure()
        with:
          name: E2E tests
          path: src/security-server/e2e-test/build/test-results/**/TEST-*.xml
          reporter: java-junit

      - name: Upload E2E report
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: E2E report
          path: |
            src/security-server/e2e-test/build/allure-report/

      - name: Show Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@v5.0
        with:
          task: display-results
          pr-comment: true
