init:
  serverconf:
    image: artifactory.niis.org/xroad8-snapshot-image/ss-db-serverconf-init:8.0.0-beta1
    imagePullPolicy: IfNotPresent
    host: "db-serverconf"
    port: "5432"
    database: "serverconf"
    username: "serverconf"
    schema: "public"
    proxyUiSuperuser: "xrd"
#    proxyUiSuperuserPassword:
  messagelog:
    image: artifactory.niis.org/xroad8-snapshot-image/ss-db-messagelog-init:8.0.0-beta1
    imagePullPolicy: IfNotPresent
    host: "db-messagelog"
    port: "5432"
    database: "messagelog"
    username: "messagelog"
    schema: "public"
  opmonitor:
    image: artifactory.niis.org/xroad8-snapshot-image/ss-db-opmonitor-init:8.0.0-beta1
    imagePullPolicy: IfNotPresent
    host: "db-opmonitor"
    port: "5432"
    database: "op-monitor"
    username: "opmonitor"
    schema: "public"

imagePullSecrets: []

serviceAccount:
  name: "ss-init-sa"
  create: true

services:
  configuration-client:
    image: artifactory.niis.org/xroad8-snapshot-image/ss-configuration-client:8.0.0-beta1
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        memory: 64Mi
      limits:
        memory: 320Mi
    ports:
      - port: 4099
        name: http
      - port: 5665
        name: grpc
    readinessProbe:
      path: "/q/health"
      scheme: "HTTP"
    serviceAccount:
      annotations: { }
    env:
      XROAD_HOST: "configuration-client"
      XROAD_SECRET_STORE_HOST: "openbao"
      XROAD_CONFIGURATION_CLIENT_UPDATE_INTERVAL: "60"
      XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_URL: "jdbc:postgresql://db-serverconf:5432/serverconf"
      XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_USERNAME: "serverconf"
      DB_CONFIG_SOURCE_ENABLED: "true"
      DB_CONFIG_SOURCE_URL: "jdbc:postgresql://db-serverconf:5432/serverconf"
      DB_CONFIG_SOURCE_USERNAME: "serverconf"
    envFromSecrets:
      - name: "XROAD_SECRET_STORE_TOKEN"
        secretName: "xroad-token"
        key: "XROAD_SECRET_STORE_TOKEN"
      - name: "XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_PASSWORD"
        secretName: "db-serverconf"
        key: "password"
      - name: "DB_CONFIG_SOURCE_PASSWORD"
        secretName: "db-serverconf"
        key: "password"

  signer:
    image: artifactory.niis.org/xroad8-snapshot-image/ss-signer:8.0.0-beta1
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        memory: 64Mi
      limits:
        memory: 320Mi
    ports:
      - port: 4099
        name: http
      - port: 5560
        name: grpc
    readinessProbe:
      path: "/q/health"
      scheme: "HTTP"
    serviceAccount:
      annotations: { }
    env:
      XROAD_HOST: "signer"
      XROAD_SECRET_STORE_HOST: "openbao"
      XROAD_COMMON_RPC_CHANNEL_CONFIGURATION_CLIENT_HOST: "configuration-client"
      XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_URL: "jdbc:postgresql://db-serverconf:5432/serverconf"
      XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_USERNAME: "serverconf"
      XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_DRIVER_CLASS: "org.postgresql.Driver"
      DB_CONFIG_SOURCE_ENABLED: "true"
      DB_CONFIG_SOURCE_URL: "jdbc:postgresql://db-serverconf:5432/serverconf"
      DB_CONFIG_SOURCE_USERNAME: "serverconf"
    envFromSecrets:
      - name: "XROAD_SECRET_STORE_TOKEN"
        secretName: "xroad-token"
        key: "XROAD_SECRET_STORE_TOKEN"
      - name: "XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_PASSWORD"
        secretName: "db-serverconf"
        key: "password"
      - name: "DB_CONFIG_SOURCE_PASSWORD"
        secretName: "db-serverconf"
        key: "password"
  proxy:
    image: artifactory.niis.org/xroad8-snapshot-image/ss-proxy:8.0.0-beta1
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        memory: 64Mi
      limits:
        memory: 512Mi
    ports:
      - port: 4099
        name: http
      - port: 5567
        name: grpc
      - port: 5500
        name: proxy-server
      - port: 5577
        name: proxy-ocsp
      - port: 8080
        name: proxy-http
      - port: 8443
        name: proxy-https
    readinessProbe:
      path: "/q/health"
      scheme: "HTTP"
    serviceAccount:
      annotations: { }
    env:
      XROAD_HOST: "proxy"
      XROAD_SECRET_STORE_HOST: "openbao"
      XROAD_COMMON_RPC_CHANNEL_CONFIGURATION_CLIENT_HOST: "configuration-client"
      XROAD_COMMON_RPC_CHANNEL_SIGNER_HOST: "signer"
      XROAD_COMMON_RPC_CHANNEL_MANAGEMENT_HOST: "proxy-ui-api"
      XROAD_OP_MONITOR_HOST: "op-monitor"
      XROAD_OP_MONITOR_SCHEME: https
      XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_URL: "jdbc:postgresql://db-serverconf:5432/serverconf"
      XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_USERNAME: "serverconf"
      XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_DRIVER_CLASS: "org.postgresql.Driver"
      XROAD_DB_MESSAGELOG_HIBERNATE_CONNECTION_URL: "jdbc:postgresql://db-messagelog:5432/messagelog"
      XROAD_DB_MESSAGELOG_HIBERNATE_CONNECTION_USERNAME: "messagelog"
      XROAD_DB_MESSAGELOG_HIBERNATE_CONNECTION_DRIVER_CLASS: "org.postgresql.Driver"
      DB_CONFIG_SOURCE_ENABLED: "true"
      DB_CONFIG_SOURCE_URL: "jdbc:postgresql://db-serverconf:5432/serverconf"
      DB_CONFIG_SOURCE_USERNAME: "serverconf"
    envFromSecrets:
      - name: "XROAD_SECRET_STORE_TOKEN"
        secretName: "xroad-token"
        key: "XROAD_SECRET_STORE_TOKEN"
      - name: "XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_PASSWORD"
        secretName: "db-serverconf"
        key: "password"
      - name: "XROAD_DB_MESSAGELOG_HIBERNATE_CONNECTION_PASSWORD"
        secretName: "db-messagelog"
        key: "password"
      - name: "DB_CONFIG_SOURCE_PASSWORD"
        secretName: "db-serverconf"
        key: "password"
  proxy-ui-api:
    image: artifactory.niis.org/xroad8-snapshot-image/ss-proxy-ui-api:8.0.0-beta1
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        memory: 64Mi
      limits:
        memory: 512Mi
    ports:
      - port: 4000
        name: https
    readinessProbe:
      path: "" # Replace with "/actuator/health" once it's working again
      scheme: "HTTPS"
    debugPort: 9999
    serviceAccount:
      annotations: { }
    env:
      DEBUG_PORT: "9999"
      XROAD_HOST: "proxy-ui-api"
      XROAD_SECRET_STORE_HOST: "openbao"
      XROAD_COMMON_RPC_CHANNEL_CONFIGURATION_CLIENT_HOST: "configuration-client"
      XROAD_COMMON_RPC_CHANNEL_SIGNER_HOST: "signer"
      XROAD_COMMON_RPC_CHANNEL_PROXY_HOST: "proxy"
      XROAD_COMMON_RPC_CHANNEL_BACKUP_MANAGER_HOST: "backup-manager"
      XROAD_COMMON_RPC_CHANNEL_ENV_MONITOR_HOST: "monitor"
      XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_URL: "jdbc:postgresql://db-serverconf:5432/serverconf"
      XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_USERNAME: "serverconf"
      XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_DRIVER_CLASS: "org.postgresql.Driver"
      XROAD_DB_MESSAGELOG_HIBERNATE_CONNECTION_URL: "jdbc:postgresql://db-messagelog:5432/messagelog"
      XROAD_DB_MESSAGELOG_HIBERNATE_CONNECTION_USERNAME: "messagelog"
      XROAD_DB_MESSAGELOG_HIBERNATE_CONNECTION_DRIVER_CLASS: "org.postgresql.Driver"
      XROAD_PROXY_UI_API_PROXY_SERVER_URL: "https://proxy:8443"
      DB_CONFIG_SOURCE_ENABLED: "true"
      DB_CONFIG_SOURCE_URL: "jdbc:postgresql://db-serverconf:5432/serverconf"
      DB_CONFIG_SOURCE_USERNAME: "serverconf"
    envFromSecrets:
      - name: "XROAD_SECRET_STORE_TOKEN"
        secretName: "xroad-token"
        key: "XROAD_SECRET_STORE_TOKEN"
      - name: "XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_PASSWORD"
        secretName: "db-serverconf"
        key: "password"
      - name: "XROAD_DB_MESSAGELOG_HIBERNATE_CONNECTION_PASSWORD"
        secretName: "db-messagelog"
        key: "password"
      - name: "DB_CONFIG_SOURCE_PASSWORD"
        secretName: "db-serverconf"
        key: "password"
  monitor:
    image: artifactory.niis.org/xroad8-snapshot-image/ss-monitor:8.0.0-beta1
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        memory: 64Mi
      limits:
        memory: 512Mi
    ports:
      - port: 4099
        name: http
    debugPort: 9999
    readinessProbe:
      path: "/q/health"
      scheme: "HTTP"
    serviceAccount:
      annotations: { }
    env:
      DEBUG_PORT: "9999"
      XROAD_HOST: "monitor"
      XROAD_SECRET_STORE_HOST: "openbao"
      XROAD_COMMON_RPC_CHANNEL_CONFIGURATION_CLIENT_HOST: "configuration-client"
      XROAD_COMMON_RPC_CHANNEL_SIGNER_HOST: "signer"
      XROAD_COMMON_RPC_CHANNEL_PROXY_HOST: "proxy"
      XROAD_COMMON_RPC_CHANNEL_ENV_MONITOR_HOST: "monitor"
      XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_URL: "jdbc:postgresql://db-serverconf:5432/serverconf"
      XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_USERNAME: "serverconf"
      XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_DRIVER_CLASS: "org.postgresql.Driver"
      DB_CONFIG_SOURCE_ENABLED: "true"
      DB_CONFIG_SOURCE_URL: "jdbc:postgresql://db-serverconf:5432/serverconf"
      DB_CONFIG_SOURCE_USERNAME: "serverconf"
    envFromSecrets:
      - name: "XROAD_SECRET_STORE_TOKEN"
        secretName: "xroad-token"
        key: "XROAD_SECRET_STORE_TOKEN"
      - name: "XROAD_DB_SERVERCONF_HIBERNATE_CONNECTION_PASSWORD"
        secretName: "db-serverconf"
        key: "password"
      - name: "DB_CONFIG_SOURCE_PASSWORD"
        secretName: "db-serverconf"
        key: "password"
  op-monitor:
    enabled: false
    image: artifactory.niis.org/xroad8-snapshot-image/ss-op-monitor:8.0.0-beta1
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        memory: 64Mi
      limits:
        memory: 512Mi
    ports:
      - port: 4099
        name: http
      - port: 2080
        name: opmon-daemon
    debugPort: 9999
    readinessProbe:
      path: "/q/health"
      scheme: "HTTP"
    serviceAccount:
      annotations: { }
    env:
      DEBUG_PORT: "9999"
      XROAD_HOST: "opmonitor"
      XROAD_OP_MONITOR_LISTEN_ADDRESS: 0.0.0.0
      XROAD_OP_MONITOR_SCHEME: https
      XROAD_SECRET_STORE_HOST: "openbao"
      XROAD_COMMON_RPC_CHANNEL_CONFIGURATION_CLIENT_HOST: "configuration-client"
      XROAD_DB_OP_MONITOR_HIBERNATE_CONNECTION_URL: "jdbc:postgresql://db-opmonitor:5432/op-monitor"
      XROAD_DB_OP_MONITOR_HIBERNATE_CONNECTION_USERNAME: "opmonitor"
      XROAD_DB_OP_MONITOR_HIBERNATE_CONNECTION_DRIVER_CLASS: "org.postgresql.Driver"
      DB_CONFIG_SOURCE_ENABLED: "true"
      DB_CONFIG_SOURCE_URL: "jdbc:postgresql://db-serverconf:5432/serverconf"
      DB_CONFIG_SOURCE_USERNAME: "serverconf"
    envFromSecrets:
      - name: "XROAD_SECRET_STORE_TOKEN"
        secretName: "xroad-token"
        key: "XROAD_SECRET_STORE_TOKEN"
      - name: "XROAD_DB_OP_MONITOR_HIBERNATE_CONNECTION_PASSWORD"
        secretName: "db-opmonitor"
        key: "password"
      - name: "DB_CONFIG_SOURCE_PASSWORD"
        secretName: "db-serverconf"
        key: "password"
  backup-manager:
    image: artifactory.niis.org/xroad8-snapshot-image/ss-backup-manager:8.0.0-beta1
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        memory: 64Mi
      limits:
        memory: 512Mi
    rbac:
      extraRules:
        - apiGroups: ["batch"]
          resources: ["jobs"]
          verbs: ["create", "get", "list", "watch"]
        - apiGroups: [ "apps" ]
          resources: [ "deployments","deployments/scale" ]
          verbs: [ "get", "list", "update", "watch", "patch" ]
    ports:
      - port: 4099
        name: http
      - port: 7665
        name: grpc
    readinessProbe:
      path: "/q/health"
      scheme: "HTTP"
    serviceAccount:
      annotations: { }
    env:
      XROAD_HOST: "backup-manager"
      XROAD_SECRET_STORE_HOST: "openbao"
      XROAD_SERVERCONF_DB_HOST: "db-serverconf"
      XROAD_SERVERCONF_DB_PORT: "5432"
      XROAD_SERVERCONF_DB_NAME: "serverconf"
      XROAD_SERVERCONF_DB_SCHEMA: "public"
      XROAD_SERVERCONF_DB_USERNAME: "serverconf"
      XROAD_OPENBAO_DB_HOST: "db-openbao"
      XROAD_OPENBAO_DB_PORT: "5432"
      XROAD_OPENBAO_DB_DATABASE: "openbao"
      XROAD_OPENBAO_DB_SCHEMA: "public"
      XROAD_OPENBAO_DB_USER: "openbao"
      SERVERCONF_INIT_IMAGE: "artifactory.niis.org/xroad8-snapshot-image/ss-db-serverconf-init:8.0.0-beta1"
      SERVERCONF_INITIALIZED_WITH_PROXY_UI_SUPERUSER: "false"
      PROXY_UI_SUPERUSER: "xrd"
      DB_CONFIG_SOURCE_ENABLED: "true"
      DB_CONFIG_SOURCE_URL: "jdbc:postgresql://db-serverconf:5432/serverconf"
      DB_CONFIG_SOURCE_USERNAME: "serverconf"
    envFromSecrets:
      - name: "XROAD_SECRET_STORE_TOKEN"
        secretName: "xroad-token"
        key: "XROAD_SECRET_STORE_TOKEN"
      - name: "XROAD_SERVERCONF_DB_PASSWORD"
        secretName: "db-serverconf"
        key: "password"
      - name: "XROAD_SERVERCONF_DB_ADMIN_PASSWORD"
        secretName: "db-serverconf"
        key: "postgres-password"
      - name: "XROAD_OPENBAO_DB_PASSWORD"
        secretName: "db-openbao"
        key: "password"
      - name: "DB_CONFIG_SOURCE_PASSWORD"
        secretName: "db-serverconf"
        key: "password"
    volumeMounts:
      - mountPath: /var/lib/xroad
        name: backups-volume
      - mountPath: /etc/xroad/gpghome
        name: gpg-key-volume
    volumes:
      - name: backups-volume
        persistentVolumeClaim:
          claimName: backups-pvc
      - name: gpg-key-volume
        persistentVolumeClaim:
          claimName: gpg-keys-pvc

persistentVolumeClaims:
  backups-pvc:
    accessMode: ReadWriteOnce
    storage: 1Gi
  gpg-keys-pvc:
    accessMode: ReadWriteOnce
    storage: 128Mi