---
- name: Check for EPEL repo
  stat:
    path: "/etc/yum.repos.d/epel.repo"
  register: epel

- name: EPEL repo key
  rpm_key:
    state: present
    key: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-{{ansible_distribution_major_version}}

- name: Install EPEL repository (RHEL)
  yum:
    name: "https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ansible_distribution_major_version}}.noarch.rpm"
  when: not epel.stat.exists

- name: X-Road repo key
  rpm_key:
    state: present
    key: "{{ rhel_repo_gpgkey }}"
  when: rhel_repo_gpgkey is defined and package_source == "remote"

- name: Setup the correct repository for X-Road installation (RHEL)
  yum_repository:
    name: "x-road"
    file: "xroad"
    description: "X-Road repository for RHEL{{ ansible_distribution_major_version }}"
    baseurl: "{{ rhel_repo_baseurl }}"
    gpgcheck: "{{ rhel_repo_gpgcheck | default('no') }}"
    gpgkey: "{{ rhel_repo_gpgkey | default('') }}"
    repo_gpgcheck: "{{ rhel_repo_gpgcheck | default('no') }}"
    metadata_expire: "{{ rhel_repo_metadaexpire | default('86400') }}"
    state: present
    enabled: yes

- name: Touch repo file
  file:
    path: "/etc/yum.repos.d/xroad.repo"
    modification_time: now

- name: Install required packages (RHEL)
  become: yes
  yum:
    name: "{{ items }}"
    state: present
  vars:
    items:
      - curl
      - cronie
      - tar
      - acl
