#Logging configuration
logging:
  level:
    ROOT: INFO
    cucumber: TRACE
    com:
      codeborne:
        selenide:
          proxy: ERROR
    org.springframework: INFO

test-automation:
  report-name: xroad-ss-ui-test-suite
  environment: disposable
  spring-component-scan: "org.niis.xroad.common.test,org.niis.xroad.ss.test"
  cucumber:
    execution:
      parallel:
        enabled: false # Tests are executed in sequential order
    glue-append: "org.niis.xroad.ss.test.ui.glue,org.niis.xroad.common.test.glue,org.niis.xroad.ss.test.addons.glue,org.niis.xroad.ss.test.globalconf.glue"
    filter:
      tags: "not @Skip"
  containers:
    testable-container:
      enabled: false
  selenide:
    enabled: true
